<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin">{{ 'Admin' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Admin Checkouts' | translate }}</li>
</ol>

<div class="container">
  <h5 class="mt-3">{{'Checkouts' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">id</th>
          <th class="p-2">user</th>
          <th class="p-2">board</th>
          <th class="p-2">code</th>
          <th class="p-2">date</th>
          <th class="p-2">status</th>
          <th class="p-2">{{'Action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let checkout of checkouts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td class="p-2">{{checkout.id}}</td>
          <td class="p-2">{{checkout.user}}</td>
          <td class="p-2">{{checkout.board}}</td>
          <td class="p-2">{{checkout.code}}</td>
          <td class="p-2">{{checkout.date}}</td>
          <td class="p-2">{{checkout.status}}</td>
          <td class="p-2"><button class="btn btn-secondary" routerLink="/admin/checkouts/checkout/{{checkout.id}}" ngbTooltip="{{'View checkout' | translate}}"><i class="fas fa-search"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination class="d-flex mt-3 justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="checkouts.length" [disabled]="checkouts.length <= pageSize"></ngb-pagination>

  </div>
</div>
