<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin">{{ 'Admin' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Admin Boards' | translate }}</li>
</ol>

<div class="container">
  <h5 class="mt-3">{{'Boards' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">_id</th>
          <th class="p-2">childName</th>
          <th class="p-2">childBirthDate</th>
          <th class="p-2">childGender</th>
          <th class="p-2">user</th>
          <th class="p-2">startDate</th>
          <th class="p-2">boardGoal</th>
          <th class="p-2">availableStartDate</th>
          <th class="p-2">availableEndDate</th>
          <th class="p-2">test</th>
          <th class="p-2">{{'Action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let board of boards | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td class="p-2">{{board._id}}</td>
          <td class="p-2">{{board.childName}}</td>
          <td class="p-2">{{board.childBirthDate}}</td>
          <td class="p-2">{{board.childGender}}</td>
          <td class="p-2">{{board.user}}</td>
          <td class="p-2">{{board.startDate}}</td>
          <td class="p-2">{{board.boardGoal}}</td>
          <td class="p-2">{{board.availableStartDate}}</td>
          <td class="p-2">{{board.availableEndDate}}</td>
          <td class="p-2">{{board.test}}</td>
          <td class="p-2"><button class="btn btn-secondary" routerLink="/admin/boards/board/{{board._id}}" ngbTooltip="{{'View board' | translate}}"><i class="fas fa-search"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination class="d-flex mt-3 justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="boards.length" [disabled]="boards.length <= pageSize"></ngb-pagination>

  </div>
</div>
