<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Login' | translate }}</li>
</ol>

<div class="container text-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin text-center">
    <img alt="{{'Password' | translate}}" src="assets/icons/password.png" class="task-icon mb-5">
    <h3 class="text-center divider">
      {{'Please sign in' | translate}}
    </h3>
    <hr>
    <div class="mt-5">
      <label for="inputEmail" class="sr-only">{{'Email address' | translate}}</label>
      <input type="email" id="inputEmail" formControlName="username" class="form-control" placeholder="{{'Email address' | translate}}" required="" autofocus="" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
      <label for="inputPassword" class="sr-only">{{'Password' | translate}}</label>
      <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="{{'Password' | translate}}" required="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
<!--      <div class="checkbox mb-3">-->
<!--        <label>-->
<!--          <input type="checkbox" value="remember-me"> {{'Remember me' | translate}}-->
<!--        </label>-->
<!--      </div>-->
      <button class="btn btn-lg btn-emerland btn-block mt-3 mb-3" type="submit"><i class="fas fa-sign-in-alt"></i> {{'Sign in' | translate}}</button>
      <button routerLink="/user/register" class="btn btn-link text-green" type=button>
        <i class="fa fa-user-plus"></i> {{'Register' | translate}}
      </button>
      <button routerLink="/user/forgot-password" class="btn btn-link text-blue" type=button>
        {{'Forgot password?' | translate}}
      </button>

      <div class="mt-3 invalid-feedback" *ngIf="submitted && (f.username.errors || f.password.errors)">
        <div *ngIf="submitted && f.username.errors && f.username.errors.required">{{'E-mail address is required' | translate}}</div>
        <div *ngIf="submitted && f.password.errors && f.password.errors.required">{{'Password is required' | translate}}</div>
      </div>

      <div class="social-auth-links text-center mb-3">
        <p>- {{'OR' | translate}} -</p>
        <button type=button class="btn btn-block btn-facebook" (click)="submitFacebookLogin()">
          <i class="fab fa-facebook-f"></i> {{'Sign in using Facebook' | translate}}
        </button>
        <button type=button class="btn btn-block btn-google" (click)="submitGoogleLogin()">
          <i class="fab fa-google"></i> {{'Sign in using Gmail' | translate}}
        </button>
      </div>
    </div>

    <p class="mt-4 mb-3 text-muted">© 2019-{{currentYaer}}</p>
  </form>
</div>
