html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.invalid-feedback {
  height: 40px;
  display: block;
}

.btn-facebook {
  color: #fff;
  background-color: #395b98;
  border-color: #395b98;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.btn-facebook:focus, .btn-facebook.focus, .btn-facebook:hover, .btn-facebook:active, .btn-facebook.active,
.open > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-facebook:active, .btn-facebook.active,
.open > .btn-facebook.dropdown-toggle {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn-facebook:active:hover, .btn-facebook:active:focus, .btn-facebook:active.focus, .btn-facebook.active:hover, .btn-facebook.active:focus, .btn-facebook.active.focus,
.open > .btn-facebook.dropdown-toggle:hover,
.open > .btn-facebook.dropdown-toggle:focus,
.open > .btn-facebook.dropdown-toggle.focus {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-facebook.disabled, .btn-facebook[disabled],
fieldset[disabled] .btn-facebook {
  pointer-events: none;
  opacity: .5;
}

.btn-facebook .badge {
  color: #395b98;
  background-color: #fff;
}

.btn-facebook:focus {
  color: #fff;
  background-color: #395b98;
}

.btn-facebook:focus:hover {
  background-color: #43ca83;
}

.btn-google {
  color: #fff;
  background-color: #d95139;
  border-color: #d95139;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.btn-google:focus, .btn-google.focus, .btn-google:hover, .btn-google:active, .btn-google.active,
.open > .btn-google.dropdown-toggle {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-google:active, .btn-google.active,
.open > .btn-google.dropdown-toggle {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn-google:active:hover, .btn-google:active:focus, .btn-google:active.focus, .btn-google.active:hover, .btn-google.active:focus, .btn-google.active.focus,
.open > .btn-google.dropdown-toggle:hover,
.open > .btn-google.dropdown-toggle:focus,
.open > .btn-google.dropdown-toggle.focus {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-google.disabled, .btn-google[disabled],
fieldset[disabled] .btn-google {
  pointer-events: none;
  opacity: .5;
}

.btn-google .badge {
  color: #d95139;
  background-color: #fff;
}

.btn-google:focus {
  color: #fff;
  background-color: #d95139;
}

.btn-google:focus:hover {
  background-color: #43ca83;
}
