<div class="alert-div">
  <div *ngFor="let alert of alerts" class="shadow">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">
      <i class="fa" aria-hidden="true" [ngClass]="{ 'fa-check-circle': alert.type.toString() === 'success', 'fa-exclamation-triangle': alert.type.toString() === 'danger' }"></i> {{alert.message | translate}}
    </ngb-alert>
  </div>
</div>
