<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Not found' | translate }}</li>
</ol>


<div class="container text-center">
  <h1 class="error-code">404</h1>
  <h2>{{ 'This page doesn\'t exist' | translate }}</h2>
</div>
