<form #form action="{{pagseguroUrl}}/v2/pre-approvals/request.html" method="get" target="_blank">
  <input type="hidden" name="code" value="{{code}}"/>
  <input type="hidden" name="iot" value="button"/>
  <button *ngIf="thisBoard" type="submit" class="btn btn-emerland btn-block" (click)="submit()">
    <i class="fas fa-shopping-cart"></i> {{buttomLabel}}
  </button>
</form>
