.date-before {
  font-weight: normal;
}

.cell-today {
  background-color: #dddddd;
}

.date-after {
  font-weight: normal;
  font-style: italic;
  color: #dddddd;
}

table {
  /*border: 3px solid #6c757d;*/
  /*border-spacing: 10px;*/
  /*border-collapse: separate;*/
  /*background: none;*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

td, th {
  /*border: 3px solid #6c757d;*/
}

.table-header {
  /*background-image: linear-gradient(#FD4848, #C60A0A);*/
}

.table-header th {
  /*border: 3px solid #990a0a;*/
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*text-shadow: -2px 0 #990a0a, 0 2px #990a0a, 2px 0 #990a0a, 0 -2px #990a0a;*/
}

.my-box-2.disabled {
  cursor: not-allowed;
  background-color: #efefef;
}

.col-task-type {
  min-width: 115px;
}

.col-status {
  width: 11%;
  min-width: 115px;
}

.col-trophy {
  width: 11%;
  min-width: 115px;
}

.award {
  position: absolute;
  right: 5px;
  top: 7px;
}

/*.div-footer {*/
/*  background-color: rgba(0,0,0,.03);*/
/*  border-top: 1px solid rgba(0,0,0,.125);*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*}*/
th {
  height: 76px !important;
}

td {
  height: 128px !important;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col-md-6, .col-md-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.container-div {
  position: relative;
  min-height: 130px;
}

.center-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-img {
  width: fit-content;
  width: -moz-fit-content;
}

ul {
  padding-inline-start: 20px;
}

.prize-lg {
  display: block;
}

.prize-sm, .btn-new {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .col-task-type {
    min-width: 90px;
  }

  .col-status {
    width: 11%;
    min-width: 90px;
  }

  .col-trophy {
    width: 11%;
    min-width: 90px;
  }

  .task-title {
    width: 20px;
  }

  .prize-lg {
    display: none;
  }

  .prize-sm, .btn-new {
    display: block !important;
  }

}
