<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/boards">{{ 'Boards' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Board' | translate }}</li>
</ol>

<div class="container" *ngIf="boardService.currentBoard">
  <h3 class="text-center divider">
    {{'Child Tasks' | translate}}
  </h3>
  <hr>
  <div class="mt-5">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="pt-3 pb-3 pl-4 pr-4 my-box-2">
          <div class="d-flex">
            <div class="div-img">
              <div class="card p-0 girl mr-3 shadow-sm" *ngIf="boardService.currentBoard.childGender === 'Girl'">
                <img src="assets/icons/sister.png" alt="{{'Girl' | translate}}" class="task-icon">
              </div>
              <div class="card p-0 boy mr-3 shadow-sm" *ngIf="boardService.currentBoard.childGender === 'Boy'">
                <img src="assets/icons/brother.png" alt="{{'Boy' | translate}}" class="task-icon">
              </div>
            </div>
            <div class="div-nome w-100">
              <div class="d-flex w-100">
                <h4 class="text-black pt-2 w-100">{{boardService.currentBoard.childName}}</h4>
                <app-new-board #editBoardComponent [editButton]="true" (loadAllBoards)="loadAllTasks()"></app-new-board>
              </div>
              <span class="text-muted">{{boardService.currentBoard.childGender | translate}}: {{getAge(boardService.currentBoard.childBirthDate)}} {{ getAge(boardService.currentBoard.childBirthDate) < 2 ? ('year' | translate) : ('years' | translate)}} - {{boardService.currentBoard.childBirthDate | date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
          <ul class="mt-2 mb-1">
            <li class="pt-1">
              {{'Start Date' | translate}}: {{boardService.currentBoard.startDate | date:'dd/MM/yyyy'}}
            </li>
            <li class="pt-1">
              {{'Available' | translate}}:
              <span class="font-weight-bold">{{boardService.currentBoard.availableStartDate | date:'dd/MM/yyyy'}}</span> {{'to' | translate}} <span class="font-weight-bold" [ngClass]="{'text-green': isAvailable(boardService.currentBoard), 'text-red': !isAvailable(boardService.currentBoard)} ">{{boardService.currentBoard.availableEndDate | date:'dd/MM/yyyy'}}</span>
            </li>
            <li class="pt-1" *ngIf="boardService.currentBoard.test">
              {{'Payment status' | translate}}: <span
              class="text-blue font-weight-bold">{{'Test Task Board' | translate}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 mb-3 prize-lg">
        <div class="my-box-2 p-3 container-div">
          <div class="award text-blue pr-2 pt-2" *ngIf="weekPrize >= boardService.currentBoard.boardGoal">
            <i class="fas fa-award fa-2x"></i>
          </div>
          <div class="text-center w-auto center-div">
            <app-trophy [currentRate]="weekPrize/100"></app-trophy>
            <h6 class="mt-3 mb-0" style="min-width: 120px">{{'Week prize' | translate}}</h6>
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3 prize-lg">
        <div class="my-box-2 p-3 container-div">
          <div class="award text-blue pr-2 pt-2" *ngIf="monthPrize >= boardService.currentBoard.boardGoal">
            <i class="fas fa-award fa-2x"></i>
          </div>
          <div class="text-center w-auto center-div">
            <app-trophy [currentRate]="monthPrize/100"></app-trophy>
            <h6 class="mt-3 mb-0" style="min-width: 120px">{{'Month prize' | translate}}</h6>
          </div>
        </div>
      </div>

      <div class="col-md-2 mb-3 prize-lg">
        <div class="my-box-2 p-3 container-div">
          <div class="award text-blue pr-2 pt-2" *ngIf="yearPrize >= boardService.currentBoard.boardGoal">
            <i class="fas fa-award fa-2x"></i>
          </div>
          <div class="text-center w-auto center-div">
            <app-trophy [currentRate]="yearPrize/100"></app-trophy>
            <h6 class="mt-3 mb-0" style="min-width: 120px">{{'Year prize' | translate}}</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex w-100 text-center mb-3 btn-new">
      <div class="w-100">
        <app-new-task class="btn-block" #newTaskComponent [currentBoard]="boardService.currentBoard" (loadAllTasks)="loadAllTasks()"></app-new-task>
        <div class="text-blue mt-2" *ngIf="boardService.currentBoard.test && boardService.currentBoard.taskList && boardService.currentBoard.taskList.length >= 3">{{'Test Board Task Limit' | translate}}</div>
      </div>
    </div>

    <div class="table-header p-4 text-center w-100 d-inline-flex">
      <div class="week-bt-div-prev w-auto">
        <button class="btn btn-sm btn-white" (click)="previousWeek()" placement="right"
                [ngbTooltip]="'Previous week' | translate">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
      <h2 class="h1 text-white w-100">
        <span *ngIf="!monthName2">{{monthName1 | translate}} {{year1}}</span>
        <span *ngIf="monthName2 && !year2">{{monthName1 | translate}} / {{monthName2 | translate}} {{year1}}</span>
        <span *ngIf="monthName2 && year2">{{monthName1 | translate}} {{year1}} / {{monthName2 | translate}} {{year2}}</span>
      </h2>
      <div class="week-bt-div-next w-auto">
        <button class="btn btn-sm btn-white" (click)="nextWeek()" placement="left"
                [ngbTooltip]="'Next week' | translate">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="d-flex p-3 calendar-box">
      <div class="h-100">
        <table class="h-100 text-center" id="boardTitleTable">
          <thead>
          <tr>
            <th scope="col" class="task-title-cell">
            </th>
            <th scope="col" class="col-task-type">
              {{ 'Task' | translate }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of boardService.currentBoard.taskList">
            <td class="calendar-cell task-title-cell">
              <div class="task-title text-blue">{{task.taskName | translate }}</div>
            </td>
            <td class="d-table-cell col-task-type h-100 calendar-cell">
              <div class="align-middle h-100 position-relative">
                <div class="pt-3 pb-3 pl-1 pr-1" style="margin-bottom: 32px">
                  <span>
                    <img *ngIf="task.taskType && task.taskType.taskIcon" src="assets/icons/{{task.taskType.taskIcon}}" alt="{{task.taskType.taskTypeName | translate}}" class="task-icon">
                  </span>
                </div>
                <div class="div-footer text-right p-1 pr-3">
                  <button type="button" class="btn btn-link p-0 text-info mr-2" (click)="editTask(task)"
                          [ngbTooltip]="'Edit task' | translate"><i class="fas fa-tools"></i></button>
                  <button mwlConfirmationPopover
                          class="btn btn-link p-0 text-danger"
                          [title]="'Delete' | translate"
                          [popoverTitle]="'Delete' | translate"
                          [popoverMessage]="'Delete the task?' | translate"
                          (confirm)="deleteTask(task)"
                          confirmButtonType="primary"
                          confirmText="<i class='fa fa-check' aria-hidden='true'></i> {{'Yes' | translate}}"
                          cancelButtonType="secondary"
                          cancelText="<i class='fa fa-ban' aria-hidden='true'></i> {{'No' | translate}}"
                          [appendToBody]="true"
                          [reverseButtonOrder]="true"
                          placement="top"
                          ngbTooltip="{{'Delete the task' | translate}}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive h-100" id="divStatusTable" #divStatusTable>
        <table class="h-100 text-center" id="boardStatusTable">
          <thead>
          <tr>
            <th scope="col" class="col-status pt-3 pb-3" *ngFor="let weekDay of week; let idx = index" id="date_{{idx}}">
              <div *ngIf="weekDay < today" class="date-before">
                {{getWeekDay(weekDay) | translate}}<br>
                {{getFormatedDay(weekDay) | date: 'dd/MM/yy'}}
              </div>
              <div *ngIf="isToday(weekDay)" class="date-today">
                {{getWeekDay(weekDay) | translate}} <br>
                {{getFormatedDay(weekDay) | date: 'dd/MM/yy'}}
              </div>
              <div *ngIf="weekDay > today" class="date-after">
                {{getWeekDay(weekDay) | translate}}<br>
                {{getFormatedDay(weekDay) | date: 'dd/MM/yy'}}
              </div>
            </th>
            <th scope="col" class="col-trophy">
              {{ 'Prize' | translate }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!boardService.currentBoard.taskList || boardService.currentBoard.taskList.length === 0">
            <td colspan="7">
              <ngb-alert [type]="'secondary'" [dismissible]="false" class="mb-0">
                <i class="fas fa-list text-muted"></i> <i class="text-muted"> {{'No tasks available' | translate}}</i>
              </ngb-alert>
            </td>
          </tr>
          <tr *ngFor="let task of boardService.currentBoard.taskList">
            <td class="d-table-cell col-status h-100 calendar-cell" [ngClass]="{'cell-today': isToday(status.date)}" *ngFor="let status of task.statusList">
              <div class="align-middle h-100 position-relative">
                <div class="pt-3 pb-3 pl-1 pr-1">
                  <app-status (loadStatusList)="getStatusList($event)" [currentStatus]="status" [currentTask]="task"
                              [cardStatus]="getCardStatus(task, status.date)" [isToday]="isToday(status.date)"></app-status>
                </div>
                <div class="div-footer text-right p-1 pr-3">
                  <button *ngIf="status.feedback && getCardStatus(task, status.date) !== 'disabled'" class="btn btn-link p-0 text-secondary" [ngbTooltip]="'Feedback' | translate" placement="top"
                     [ngbPopover]="status.feedback" [popoverTitle]="'Feedback' | translate">
                    <i class="fas fa-comment"></i>
                  </button>
                  <button *ngIf="!status.feedback || getCardStatus(task, status.date) === 'disabled'" class="btn btn-link p-0 disabled text-disabled" [ngbTooltip]="'No Feedback' | translate" placement="top">
                    <i class="fas fa-comment-slash"></i>
                  </button>
                </div>
              </div>
            </td>

            <td class="d-table-cell col-trophy h-100 calendar-cell">
              <div class="align-middle h-100 position-relative">
                <div class="p-3">
                  <div class="award text-blue" *ngIf="task.prize >= task.taskGoal/100">
                    <i class="fas fa-award fa-2x"></i>
                  </div>
                  <app-trophy [currentRate]="task.prize" [disabled]="task.disabled"></app-trophy>
                </div>
                <div class="div-footer question-div text-right p-1 pr-3">
                  <button class="btn btn-link p-0 text-secondary" style="right: 0" triggers="click:blur" tooltipClass="tooltip-class" [ngbTooltip]="('Board Goal' | translate) + ' ' + task.taskGoal + ('% or more.' | translate)" placement="left">
                    <i class="fas fa-question"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="d-flex w-100 text-center mt-3">
    <div class="w-100">
      <app-new-task class="btn-block" #newTaskComponent [currentBoard]="boardService.currentBoard" (loadAllTasks)="loadAllTasks()"></app-new-task>
      <div class="text-blue mt-2" *ngIf="boardService.currentBoard.test && boardService.currentBoard.taskList && boardService.currentBoard.taskList.length >= 3">{{'Test Board Task Limit' | translate}}</div>
    </div>
  </div>

  <div class="prize-sm">
    <div class="my-box-2 p-3 container-div mt-3">
      <div class="award text-blue pr-2 pt-2" *ngIf="weekPrize >= boardService.currentBoard.boardGoal">
        <i class="fas fa-award fa-2x"></i>
      </div>
      <div class="text-center w-auto center-div">
        <app-trophy [currentRate]="weekPrize/100"></app-trophy>
        <h6 class="mt-3 mb-0" style="min-width: 120px">{{'Week prize' | translate}}</h6>
      </div>
    </div>

    <div class="my-box-2 p-3 container-div mt-3" style="height: 150px">
      <div class="award text-blue pr-2 pt-2" *ngIf="monthPrize >= boardService.currentBoard.boardGoal">
        <i class="fas fa-award fa-2x"></i>
      </div>
      <div class="text-center w-auto center-div">
        <app-trophy [currentRate]="monthPrize/100"></app-trophy>
        <h6 class="mt-3 mb-0" style="min-width: 120px">{{'Month prize' | translate}}</h6>
      </div>
    </div>

    <div class="my-box-2 p-3 container-div mt-3" style="height: 150px">
      <div class="award text-blue pr-2 pt-2" *ngIf="yearPrize >= boardService.currentBoard.boardGoal">
        <i class="fas fa-award fa-2x"></i>
      </div>
      <div class="text-center w-auto center-div">
        <app-trophy [currentRate]="yearPrize/100"></app-trophy>
        <h6 class="mt-3 mb-0" style="min-width: 120px">{{'Year prize' | translate}}</h6>
      </div>
    </div>
  </div>
</div>
