<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Forgot password' | translate }}</li>
</ol>

<div class="container text-center">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form-signin">
    <img alt="{{'Password' | translate}}" src="assets/icons/forgot-password.png" class="task-icon mb-5">
    <h3 class="text-center divider">
      {{'Forgot password?' | translate}}
    </h3>
    <hr>
    <div class="mt-5 max-width">
      <label for="username">{{'E-mail' | translate}}</label>
      <input type="email" id="username" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="{{'Insert your e-mail' | translate}}"
             required=""
             autofocus=""/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">{{'E-mail address is required' | translate}}</div>
        <div *ngIf="!f.username.errors.required && f.username.errors">{{'Invalid e-mail address' | translate}}</div>
      </div>
      <br>
      <div class="form-group text-left">
        <button [disabled]="loading" class="btn btn-emerland btn-block">
          <i class="fas fa-sync"></i> {{'Reset password' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
