<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin">{{ 'Admin' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin/boards">{{ 'Admin Boards' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Admin Board' | translate }}</li>
</ol>

<div class="container">
  <h5 class="mt-3">{{'Board' | translate}}</h5>
  <div class="my-box-2 p-3">
    <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
      <div *ngIf="internalError" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError}}
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="id">
              {{'Id' | translate}}
            </label>
            <input type="text" id="id" class="form-control" value="{{board?._id}}" readonly required/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="childName">
              {{'Child Name' | translate}}
              <span class="required">*</span>
            </label>
            <input type="text" id="childName" formControlName="childName" class="form-control"
                   placeholder="{{'Enter child name' | translate}}" required autofocus=""
                   [ngClass]="{ 'is-invalid': submitted && f.childName.errors }"/>
            <div *ngIf="submitted && f.childName.errors" class="invalid-feedback">
              <div *ngIf="f.childName.errors.required">{{'Child Name is required' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="childBirthDate">
              {{'Child Birth Date' | translate}}
              <span class="required">*</span>
            </label>
            <div class="input-group">
              <input class="form-control"
                     formControlName="childBirthDate"
                     id="childBirthDate"
                     maxlength="10"
                     placeholder="{{'Insert child birth date' | translate}}"
                     name="childBirthDate"
                     (ngModelChange)="updateChildBirthDate()"
                     ngbDatepicker
                     #childBirthDate="ngbDatepicker"
                     [startDate]="birthDateStartDate"
                     [maxDate]="today"
                     [ngClass]="{ 'is-invalid': submitted && f.childBirthDate.errors }">
              <div class="input-group-append">
                <button class="btn input-group-text"
                        (click)="childBirthDate.toggle()"
                        [ngClass]="{ 'is-invalid': submitted && f.childBirthDate.errors }"
                        type="button">
                  <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="submitted && f.childBirthDate.errors" class="invalid-feedback">
                <div *ngIf="f.childBirthDate.errors">{{'Invalid date' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="childGender">
              {{'Child Gender' | translate}}
              <span class="required">*</span>
            </label>
            <select class="form-control" id="childGender" formControlName="childGender" [ngClass]="{ 'is-invalid': submitted && f.childGender.errors }">
              <option [ngValue]="null">{{'Select a child gender' | translate}}</option>
              <option [ngValue]="'Boy'">{{'Boy' | translate}}</option>
              <option [ngValue]="'Girl'">{{'Girl' | translate}}</option>
            </select>
            <div *ngIf="submitted && f.childGender.errors" class="invalid-feedback">
              <div *ngIf="f.childGender.errors.required">{{'Child Gender is required' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="startDate">
              {{'Start Date' | translate}}
              <span class="required">*</span>
              <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Start Date Help' | translate}}" popoverTitle="{{'Start Date' | translate}}"></i>
            </label>
            <div class="input-group">
              <input class="form-control"
                     formControlName="startDate"
                     id="startDate"
                     maxlength="10"
                     placeholder="{{'Insert start date' | translate}}"
                     name="satrtDate"
                     (ngModelChange)="updateStartDate()"
                     ngbDatepicker
                     #startDate="ngbDatepicker"
                     [startDate]="startDateStartDate"
                     [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }">
              <div class="input-group-append">
                <button class="btn input-group-text"
                        (click)="startDate.toggle()"
                        [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                        type="button">
                  <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                <div *ngIf="f.startDate.errors">{{'Invalid date' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="boardGoal">
              {{'Board Goal' | translate}}
              <span class="required">*</span>
              <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Board Goal Help' | translate}}" popoverTitle="{{'Board Goal' | translate}}"></i>
            </label>
            <input type="range" min="1" max="100" step="1" id="boardGoal" formControlName="boardGoal" class="custom-range"/>
            <div class="board-goal text-center">{{f.boardGoal.value}}%</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="availableStartDate">
              {{'Available Start Date' | translate}}
              <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Available Start Date Help' | translate}}" popoverTitle="{{'Available Start Date' | translate}}"></i>
            </label>
            <div class="input-group">
              <input class="form-control"
                     formControlName="availableStartDate"
                     id="availableStartDate"
                     maxlength="10"
                     placeholder="{{'Insert available start date' | translate}}"
                     name="availableStartDate"
                     (ngModelChange)="updateAvailableStartDate()"
                     ngbDatepicker
                     #availableStartDate="ngbDatepicker"
                     [startDate]="availableStartDateStartDate"
                     [ngClass]="{ 'is-invalid': submitted && f.availableStartDate.errors }">
              <div class="input-group-append">
                <button class="btn input-group-text"
                        (click)="availableStartDate.toggle()"
                        [ngClass]="{ 'is-invalid': submitted && f.availableStartDate.errors }"
                        type="button">
                  <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="submitted && f.availableStartDate.errors" class="invalid-feedback">
                <div *ngIf="f.availableStartDate.errors">{{'Invalid date' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="availableEndDate">
              {{'Available End Date' | translate}}
              <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Available End Date Help' | translate}}" popoverTitle="{{'Available End Date' | translate}}"></i>
            </label>
            <div class="input-group">
              <input class="form-control"
                     formControlName="availableEndDate"
                     id="availableEndDate"
                     maxlength="10"
                     placeholder="{{'Insert available end date' | translate}}"
                     name="availableEndDate"
                     (ngModelChange)="updateAvailableEndDate()"
                     ngbDatepicker
                     #availableEndDate="ngbDatepicker"
                     [startDate]="availableEndDateStartDate"
                     [ngClass]="{ 'is-invalid': submitted && f.availableEndDate.errors }">
              <div class="input-group-append">
                <button class="btn input-group-text"
                        (click)="availableEndDate.toggle()"
                        [ngClass]="{ 'is-invalid': submitted && f.availableEndDate.errors }"
                        type="button">
                  <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="submitted && f.availableEndDate.errors" class="invalid-feedback">
                <div *ngIf="f.availableEndDate.errors">{{'Invalid date' | translate}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="test">
              {{'Test' | translate}}
              <span class="required">*</span>
            </label>
            <select class="form-control" id="test" formControlName="test"
                    [ngClass]="{ 'is-invalid': submitted && f.test.errors }">
              <option [ngValue]="true">{{'Yes' | translate}}</option>
              <option [ngValue]="false">{{'No' | translate}}</option>
            </select>
            <div *ngIf="submitted && f.test.errors" class="invalid-feedback">
              <div *ngIf="f.test.errors.required">{{'Test is required' | translate}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-emerland" [disabled]="!boardForm.dirty && boardForm.pristine">
            <i class="fa fa-save" aria-hidden="true"></i> {{'Save' | translate}}
          </button>
          <button type="button" class="btn btn-primary ml-2" (click)="cancel()" [disabled]="!boardForm.dirty && boardForm.pristine">
            <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>

  <h5 class="mt-3">{{'Checkouts' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">id</th>
          <th class="p-2">user</th>
          <th class="p-2">board</th>
          <th class="p-2">code</th>
          <th class="p-2">date</th>
          <th class="p-2">status</th>
          <th class="p-2">{{'Action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let checkout of checkouts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td class="p-2">{{checkout.id}}</td>
          <td class="p-2">{{checkout.user}}</td>
          <td class="p-2">{{checkout.board}}</td>
          <td class="p-2">{{checkout.code}}</td>
          <td class="p-2">{{checkout.date}}</td>
          <td class="p-2">{{checkout.status}}</td>
          <td class="p-2"><button class="btn btn-secondary" routerLink="/admin/checkouts/checkout/{{checkout.id}}" ngbTooltip="{{'View checkout' | translate}}"><i class="fas fa-search"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination class="d-flex mt-3 justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="checkouts.length" [disabled]="checkouts.length <= pageSize"></ngb-pagination>

  </div>
</div>
