<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Contact' | translate }}</li>
</ol>

<div class="container text-center pb-5">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-contact text-center">
    <img alt="{{'Contact' | translate}}" src="assets/icons/contact.png" class="task-icon mb-5">
    <h3 class="text-center divider">
      {{'Contact' | translate}}
    </h3>
    <hr>
    <div class="row mt-5">
      <div class="col-lg-8 text-left">
        <div class="form-group">
          <label for="firstName">
            {{'First Name' | translate}}
            <span class="required">*</span>
          </label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control"
                 placeholder="{{'Enter first name' | translate}}"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">{{'First Name is required' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">
            {{'Last Name' | translate}}
            <span class="required">*</span>
          </label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control"
                 placeholder="{{'Enter last name' | translate}}"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">{{'Last Name is required' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">
            {{'E-mail' | translate}}
            <span class="required">*</span>
          </label>
          <input type="email" id="email" formControlName="email" class="form-control"
                 placeholder="{{'Enter e-mail' | translate}}"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{'E-mail is required' | translate}}</div>
          </div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.email">{{'Invalid e-mail address' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">
            {{'Phone' | translate}}
            <span class="required">*</span>
          </label>
          <input type="phone" id="phone" formControlName="phone" class="form-control"
                 placeholder="{{'Enter a phone number' | translate}}"
                 [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">{{'Phone is required' | translate}}</div>
            <div *ngIf="f.phone.errors.minlength">{{'Phone must be at least 6 characters' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="message">
            {{'Message' | translate}}
            <span class="required">*</span>
          </label>
          <textarea rows="5" id="message" formControlName="message" class="form-control"
                 placeholder="{{'Enter the message' | translate}}"
                    [ngClass]="{ 'is-invalid': submitted && f.message.errors }">
          </textarea>
          <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
            <div *ngIf="f.message.errors.required">{{'Message is required' | translate}}</div>
          </div>
        </div>
        <div class="form-group float-right mt-2">
          <button class="btn btn-emerland">
            <i class="fa fa-envelope"></i> {{'Send' | translate}}
          </button>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="inset-xl-left-30">
          <div class="row row-50">
            <div class="col-md-6 col-lg-12 mb-5">
              <h5>{{'Follow us' | translate}}</h5>
              <hr>
              <a class="btn" href="https://www.facebook.com/quadrodetarefas/" target="_blank" rel="noopener" ngbTooltip="{{'Facebook' | translate}}">
                <img alt="{{'Facebook' | translate}}" src="assets/icons/facebook.png" class="social">
              </a>
              <a class="btn text-info" href="https://www.instagram.com/quadrodetarefas/" target="_blank" rel="noopener" ngbTooltip="{{'Instagram' | translate}}">
                <img alt="{{'Instagram' | translate}}" src="assets/icons/instagram.png" class="social">
              </a>
            </div>
            <div class="col-md-6 col-lg-12">
              <h5>{{'E-mail' | translate}}</h5>
              <hr>
              <div class="text-black-50">
                contato@quadrodetarefas.com.br
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
