.register-body {
    padding-top: 5%;
    height: fit-content;
}

.register-card {
    max-width: 500px;
    margin: auto;
}

.btn-register {
    margin-right: 5px;
    margin-left: 10px;
}

.form-signin {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.invalid-recaptcha {
  color: #ea6c56;
  font-size: 80%;
}
