<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Register' | translate }}</li>
</ol>

<div class="container text-center pb-5">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-signin text-center">
    <img alt="{{'Register' | translate}}" src="assets/icons/register.png" class="task-icon mb-5">
    <h3 class="text-center divider">
      {{'Register' | translate}}
    </h3>
    <hr>
    <div class="mt-5 text-left">
      <div class="form-group">
        <label for="firstName">
          {{'First Name' | translate}}
          <span class="required">*</span>
        </label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control"
               placeholder="{{'Enter first name' | translate}}"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">{{'First Name is required' | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">
          {{'Last Name' | translate}}
          <span class="required">*</span>
        </label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control"
               placeholder="{{'Enter last name' | translate}}"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">{{'Last Name is required' | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">
          {{'E-mail' | translate}}
          <span class="required">*</span>
        </label>
        <input type="email" id="username" formControlName="username" class="form-control"
               placeholder="{{'Enter e-mail' | translate}}"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">{{'E-mail is required' | translate}}</div>
        </div>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.email">{{'Invalid e-mail address' | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">
          {{'Password' | translate}}
          <span class="required">*</span>
        </label>
        <input type="password" id="password" formControlName="password" class="form-control"
               placeholder="{{'Enter password' | translate}}"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">{{'Password is required' | translate}}</div>
          <div *ngIf="f.password.errors.minlength">{{'Password must be at least 6 characters' | translate}}</div>
        </div>
      </div>

      <div class="form-group text-center">
        <re-captcha class="d-inline-block" (resolved)="resolved($event)" siteKey="6LdLEbEUAAAAAPoCEk42UHenw9xiF0QU4C7vSBU1"></re-captcha>
        <input type="hidden" id="recaptcha" formControlName="recaptcha"/>
        <div *ngIf="submitted && f.recaptcha.errors" class="invalid-recaptcha">
          <div *ngIf="f.recaptcha.errors.required">{{'Re-captcha is required' | translate}}</div>
        </div>
      </div>

      <div class="form-group float-right mt-2">
        <button [disabled]="loading" class="btn btn-emerland btn-register">
          <i class="fa fa-user-plus"></i> {{'Register' | translate}}
        </button>
        <button routerLink="/user/login" class="btn btn-primary">
          <i class="fa fa-ban"></i> {{'Cancel' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
