@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-size: 16px;
  font-family: 'Istok Web', sans-serif;
  /*background: #f6f6f6 url(../layout/bg.png) repeat;*/
  background-color: #ffffff;
  color: #424343;
}


.my-box-2 {
  border: none;
  background-color: #f7f8fb;
  padding: 5px;
  border-radius: 6px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .15);
  height: 100%;
  color: #7f7f7f;
}

.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item .nav-link {
  color: #424343 !important;
}

.nav-item .nav-link:hover {
  color: #ea6c56 !important;
}

.active .nav-link {
  color: #ea6c56 !important;
}

.nav-link.disabled {
  color: #cccccc !important;
  font-style: italic;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 36px;
  font-weight: 700;
}

hr {
  display: block;
  height: 5px;
  width: 70px;
  background-color: #43ca83;
  border-radius: 2px;
}

.div-footer {
  background: none;
  border-top: 1px solid rgba(0, 0, 0, .15);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.btn-primary {
  color: #fff;
  background-color: #ea6c56;
  border-color: #ea6c56;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-primary.disabled, .btn-primary[disabled],
fieldset[disabled] .btn-primary {
  color: #fff;
  background-color: #ea6c56;
  border-color: #ea6c56;
  pointer-events: none;
  opacity: .5;
}

.btn-primary .badge {
  color: #ea6c56;
  background-color: #fff;
}

.btn-primary:focus {
  color: #fff;
  background-color: #ea6c56;
}

.btn-primary:focus:hover {
  background-color: #43ca83;
}

.btn-secondary {
  color: #fff;
  background-color: #4bafd2;
  border-color: #4bafd2;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active,
.open > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-secondary:active, .btn-secondary.active,
.open > .btn-secondary.dropdown-toggle {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus,
.open > .btn-secondary.dropdown-toggle:hover,
.open > .btn-secondary.dropdown-toggle:focus,
.open > .btn-secondary.dropdown-toggle.focus {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
}

.btn-secondary.disabled, .btn-secondary[disabled],
fieldset[disabled] .btn-secondary {
  color: #fff;
  background-color: #4bafd2;
  border-color: #4bafd2;
  pointer-events: none;
  opacity: .5;
}

.btn-secondary .badge {
  color: #4bafd2;
  background-color: #fff;
}

.btn-secondary:focus {
  color: #fff;
  background-color: #4bafd2;
}

.btn-secondary:focus:hover {
  background-color: #43ca83;
}

.btn-emerland {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.btn-emerland:focus, .btn-emerland.focus, .btn-emerland:hover, .btn-emerland:active, .btn-emerland.active,
.open > .btn-emerland.dropdown-toggle {
  color: #fff;
  background-color: #4bafd2;
  border-color: #4bafd2;
}

.btn-emerland:active, .btn-emerland.active,
.open > .btn-emerland.dropdown-toggle {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn-emerland:active:hover, .btn-emerland:active:focus, .btn-emerland:active.focus, .btn-emerland.active:hover, .btn-emerland.active:focus, .btn-emerland.active.focus,
.open > .btn-emerland.dropdown-toggle:hover,
.open > .btn-emerland.dropdown-toggle:focus,
.open > .btn-emerland.dropdown-toggle.focus {
  color: #fff;
  background-color: #4bafd2;
  border-color: #4bafd2;
}

.btn-emerland.disabled, .btn-emerland[disabled],
fieldset[disabled] .btn-emerland {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
  pointer-events: none;
  opacity: .5;
}

.btn-emerland .badge {
  color: #43ca83;
  background-color: #fff;
}

.btn-emerland:focus {
  color: #fff;
  background-color: #43ca83;
}

.btn-emerland:focus:hover {
  background-color: #4bafd2;
}

.btn-white {
  color: #0e3655;
  background-color: #fff;
  border-color: #fff;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  letter-spacing: 0.025em;

}

.btn-white:focus, .btn-white.focus, .btn-white:hover, .btn-white:active, .btn-white.active,
.open > .btn-white.dropdown-toggle {
  color: #fff;
  background-color: #4bafd2;
  border-color: #4bafd2;
}

.btn-white:active, .btn-white.active,
.open > .btn-white.dropdown-toggle {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn-white:active:hover, .btn-white:active:focus, .btn-white:active.focus, .btn-white.active:hover, .btn-white.active:focus, .btn-white.active.focus,
.open > .btn-white.dropdown-toggle:hover,
.open > .btn-white.dropdown-toggle:focus,
.open > .btn-white.dropdown-toggle.focus {
  color: #fff;
  background-color: #4bafd2;
  border-color: #4bafd2;
}

.btn-white.disabled, .btn-white[disabled],
fieldset[disabled] .btn-white {
  color: #0e3655;
  background-color: #fff;
  border-color: #fff;
  pointer-events: none;
  opacity: .5;
}

.btn-white .badge {
  color: #fff;
  background-color: #0e3655;
}

.btn-white:focus {
  color: #0e3655;
  background-color: #fff;
}

.btn-white:focus:hover {
  background-color: #4bafd2;
  color: #fff;
}


.btn {
  transition: .3s ease-out;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border: none;
  display: inline-block;
}

.user-name {
  color: #0e3655;
  margin-top: -30px;
}

.user-name i {
  color: #43ca83;
}

.breadcrumb {
  background-color: #43ca83;
  border-radius: 0;
  margin-top: 5rem;
  padding: 3rem 2rem 2rem;
  color: #ffffff;
  margin-bottom: 3rem;
}

.breadcrumb-item.active {
  color: #ffffff;
}

.breadcrumb a {
  color: #ffffff;
}

.breadcrumb a:hover {
  color: #0e3655;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #ffffff;
  content: "/";
  margin-left: .5rem;
  margin-right: .5rem;
}

.text-green {
  color: #43ca83;
}

.text-dark-blue {
  color: #0e3655;
}

.text-blue {
  color: #4bafd2;
}

.text-red {
  color: #ea6c56;
}

.text-gray {
  color: #cccccc;
}

.text-black {
  color: #424343;
}

.navbar-brand {
  font-weight: bold;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.brand-text {
  font-size: 10px;
  margin-top: -10px;
}

.btn-link.text-green:hover {
  color: #39AC6F;
}

.btn-link.text-blue:hover {
  color: #4095B3;
}

.btn-link.text-red:hover {
  color: #C75C49;
}

.week-bt-div-prev, .week-bt-div-next {
  width: auto;
}

.week-bt-div-prev {
  text-align: left;
}

.week-bt-div-next {
  text-align: right;
}

.week-bt-div-prev button, .week-bt-div-next button {
  padding-left: 10px;
  padding-right: 10px;
  /*margin: 10px;*/
}

.invalid-feedback {
  color: #ea6c56;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #ea6c56;
}

.modal-header {
  background-color: #f7f8fb;
}

.modal-footer {
  background-color: #f7f8fb;
}

.modal-content {
  border-radius: 6px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .15);
  color: #7f7f7f;
}

.table-header {
  background-color: #ea6c56;
  text-shadow: -1px 0 #C75C49, 0 1px #C75C49, 1px 0 #C75C49, 0 -1px #C75C49;
  border-color: #ea6c56;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.calendar-box {
  background-color: #f7f8fb;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, .15);
  color: #7f7f7f;
}

.calendar-box th {
  color: #424343;
}

.calendar-cell {
  border: 3px solid #7f7f7f;
}

.task-title-cell {
  width: 30px;
}

.task-title {
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 115px;
  width: 24px;
}

footer {
  background-color: #f7f8fb;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ea6c56;
}

.alert-div {
  top: 150px;
}

.alert-success {
  color: #fff;
  background-color: #43ca83;
  border-color: #43ca83;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  padding-right: 35px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.alert-warning {
  color: #fff;
  background-color: #FDC00F;
  border-color: #D7A30D;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  padding-right: 35px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.alert-danger {
  color: #fff;
  background-color: #ea6c56;
  border-color: #ea6c56;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  padding-right: 35px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.alert-info {
  color: #fff;
  background-color: #4bafd2;
  border-color: #4bafd2;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: 10px 20px;
  padding-right: 35px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.alert-dismissible .close {
  padding-top: 5px;
  padding-right: 10px;
}

.main {
  /*padding-top: 3rem;*/
  min-height: 100vh;
}

.footer-icon i {
  color: #6c757d;
  /*width: 30px;*/
  text-align: center;
  font-size: 20px;
}

#user-hr {
  display: none;
}

.board-buttons app-new-task {
  margin-left: 1rem;
}

.trophy-div {
  position: absolute;
  top: 0;
  right: 0;
}

.background-green {
  background-color: #43ca83;
}

.background-dark-blue {
  background-color: #0e3655;
}

.background-blue {
  background-color: #4bafd2;
}

.background-red {
  background-color: #ea6c56;
}

.background-gray {
  background-color: #cccccc;
}

.background-light-gray {
  background-color: #f7f8fb;
}

.section-1 {
  margin-top: 5.5rem;
}

.disabled-icon {
  cursor: default !important;
  opacity: .3;
}

.boards-buttons {
  text-align: right;
  width: 100%;
}

.boards-buttons button {
  display: block;
  margin-left: auto;
}

.boards-buttons button i {
  width: 20px;
  text-align: center;
}

#homeStatusTable {
  width: calc(100% - 4px) !important;
  margin-left: 2px;
}

#boardTitleTable, #boardStatusTable {
  width: calc(100% - 2px) !important;
  margin-left: 0;
}

.payment-card {
  width: fit-content;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.help-icon {
  cursor: help;
}

.btn i {
  width: 20px;
  text-align: center;
}

.tooltip-class .tooltip-inner {
  width: 200px;
}

.soon-div {
  position: absolute;
  width: 100%;
  left: 0;
}

.boards-buttons-sm {
  display: none;
}

.boards-buttons-lg {
  display: block;
}

.w-33 {
  width: 33.3%;
}

.btn-new {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: .5rem 1rem !important;
    min-height: 5.5rem;
  }

  .breadcrumb {
    margin-top: 1rem;
    padding: 1rem;
  }

  .user-name {
    margin-top: 0;
  }

  .boards-nav-item {
    display: none;
  }

  .name-form {
    border-top: 1px solid #43ca83;
  }

  #user-hr {
    display: block;
  }

  .boards-buttons {
    /*min-width: 90px;*/
  }

  .boards-buttons button {
    /*float: right;*/
    /*padding-right: 0;*/
  }

  .card-line {
    /*margin-left: -80px;*/
    padding-top: 1rem;
    /*text-align: center;*/
  }

  .new-board-btn, .new-task-btn {
    width: 100%;
  }

  .board-buttons app-new-task {
    margin-left: 0;
    margin-top: 1rem;
    display: block;
  }

  #navbarCollapse form {
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 10px;
    border-radius: .25rem;
    margin-bottom: 10px;
  }

  /*  main {*/
  /*    padding: 1rem;*/
  /*  }*/
  /*  .task-icon {*/
  /*    height: 40px !important;*/
  /*  }*/
  /*  .task-title {*/
  /*    height: 90px !important;*/
  /*  }*/
  .trophy-div {
    position: relative;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .brand-text {
    margin-top: 0;
  }

  .alert-div {
    top: 78px;
  }

  .section-1 {
    margin-top: 1rem;
  }

  .table-header h1 {
    font-size: 25px;
  }

  .payment-card {
    width: -webkit-fill-available;
    width: available;
    width: -moz-available;
  }

  .boards-buttons-sm {
    display: block;
  }

  .boards-buttons-lg {
    display: none;
  }

  .btn-new {
    display: block;
  }

}

.social {
  height: 40px;
}

.promo-wrapper {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 49px;
  height: 100px;
  width: 100%;
}

.promo {
  font-size: 14px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #ea6c56;
  color: #ffffff;
  width: 130px;
  left: -30px;
  top: 22px;
}

.promo-wrapper-sm {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: -1px;
  height: 100px;
  width: 100%;
}

.promo-sm {
  font-size: 12px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #ea6c56;
  color: #ffffff;
  width: 130px;
  left: -40px;
  top: 15px;
}
