<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin">{{ 'Admin' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin/users">{{ 'Admin Users' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Admin User' | translate }}</li>
</ol>

<div class="container">
  <h5 class="mt-3">{{'User' | translate}}</h5>
  <div class="my-box-2 p-3">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div *ngIf="internalError" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError}}
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="id">
              {{'Id' | translate}}
            </label>
            <input type="text" id="id" class="form-control" value="{{user?._id}}" readonly required/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="username">
              {{'E-mail' | translate}}
              <span class="required">*</span>
            </label>
            <input type="email" id="username" formControlName="username" class="form-control"
                   placeholder="{{'Enter e-mail' | translate}}" required
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">{{'E-mail is required' | translate}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">
              {{'First Name' | translate}}
              <span class="required">*</span>
            </label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control"
                   placeholder="{{'Enter first name' | translate}}" required
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">{{'First Name is required' | translate}}</div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">
              {{'Last Name' | translate}}
              <span class="required">*</span>
            </label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control"
                   placeholder="{{'Enter last name' | translate}}" required
                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">{{'Last Name is required' | translate}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="admin">
              {{'Admin' | translate}}
              <span class="required">*</span>
            </label>
            <select class="form-control" id="admin" formControlName="admin"
                    [ngClass]="{ 'is-invalid': submitted && f.admin.errors }">
              <option [ngValue]="true">{{'Yes' | translate}}</option>
              <option [ngValue]="false">{{'No' | translate}}</option>
            </select>
            <div *ngIf="submitted && f.admin.errors" class="invalid-feedback">
              <div *ngIf="f.admin.errors.required">{{'Admin is required' | translate}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-emerland" [disabled]="!userForm.dirty && userForm.pristine">
            <i class="fa fa-save" aria-hidden="true"></i> {{'Save' | translate}}
          </button>
          <button type="button" class="btn btn-primary ml-2" (click)="cancel()" [disabled]="!userForm.dirty && userForm.pristine">
            <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>

  <h5 class="mt-5">{{'Boards' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">_id</th>
          <th class="p-2">childName</th>
          <th class="p-2">childBirthDate</th>
          <th class="p-2">childGender</th>
          <th class="p-2">user</th>
          <th class="p-2">startDate</th>
          <th class="p-2">boardGoal</th>
          <th class="p-2">availableStartDate</th>
          <th class="p-2">availableEndDate</th>
          <th class="p-2">test</th>
          <th class="p-2">{{'Action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let board of boards | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td class="p-2">{{board._id}}</td>
          <td class="p-2">{{board.childName}}</td>
          <td class="p-2">{{board.childBirthDate | date:'dd/MM/yyyy'}}</td>
          <td class="p-2">{{board.childGender}}</td>
          <td class="p-2">{{board.user}}</td>
          <td class="p-2">{{board.startDate | date:'dd/MM/yyyy'}}</td>
          <td class="p-2">{{board.boardGoal}}%</td>
          <td class="p-2">{{board.availableStartDate| date:'dd/MM/yyyy'}}</td>
          <td class="p-2">{{board.availableEndDate| date:'dd/MM/yyyy'}}</td>
          <td class="p-2">{{board.test}}</td>
          <td class="p-2"><button class="btn btn-secondary" routerLink="/admin/boards/board/{{board._id}}" ngbTooltip="{{'View board' | translate}}"><i class="fas fa-search"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination class="d-flex mt-3 justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="boards.length" [disabled]="boards.length <= pageSize"></ngb-pagination>

  </div>
</div>
