.invalid-checkbox-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #ea6c56;
}

button.is-invalid {
  border: 1px solid #ea6c56;
  border-bottom-right-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
}

.items {
  overflow: hidden; /* simple clearfix */
  padding-left: 0;
}

.items .item {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 0;
}

.new-task-btn i {
  width: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .items .item {
    width: 50%;
  }
}
