<button *ngIf="!currentBoard.test || (currentBoard.taskList && currentBoard.taskList.length < 3)" class="btn btn-secondary new-task-btn" (click)="open(content)">
  <i class="fa fa-plus-square" aria-hidden="true"></i> {{'New Task' | translate}}
</button>

<button *ngIf="currentBoard.test && currentBoard.taskList && currentBoard.taskList.length >= 3" class="btn btn-secondary new-task-btn" disabled>
  <i class="fa fa-plus-square" aria-hidden="true"></i> {{'New Task' | translate}}
</button>

<ng-template #content let-modal>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-header card-header">
      <h2 *ngIf="!isEditing" class="modal-title">{{'New Task' | translate}}</h2>
      <h2 *ngIf="isEditing" class="modal-title">{{'Edit task' | translate}}</h2>
      <button type="button" class="btn btn-default btn-sm btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <div *ngIf="internalError" class="alert alert-danger">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError}}
        </div>

        <div class="row">
          <div class="col-md-2 text-center">
            <img *ngIf="!newTask.taskType || !newTask.taskType.taskIcon" src="assets/icons/tasks.png" alt="{{'Tasks' | translate}}" class="task-icon disabled-icon">
            <img *ngIf="newTask.taskType && newTask.taskType.taskIcon" src="assets/icons/{{newTask.taskType.taskIcon}}" alt="{{newTask.taskType.taskTypeName | translate}}" class="task-icon">
          </div>
          <div [ngClass]="{'col-md-5' : !newTask.taskType || newTask.taskType.useTaskName, 'col-md-10' : newTask.taskType && !newTask.taskType.useTaskName}">
            <div class="form-group">
              <label for="taskType">
                {{'Task Type' | translate}}
                <span class="required">*</span>
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Task Type Help' | translate}}" popoverTitle="{{'Task Type' | translate}}"></i>
              </label>
              <select class="form-control" (change)="updateTaskType($event)" id="taskType" formControlName="taskType" [ngClass]="{ 'is-invalid': submitted && f.taskType.errors }">
                <option [ngValue]="null">{{'Select a task type' | translate}}</option>
                <option *ngFor="let taskType of taskTypes" [value]="taskType.id">
                  {{taskType.taskTypeName | translate}}
                </option>
              </select>
              <div *ngIf="submitted && f.taskType.errors" class="invalid-feedback">
                <div *ngIf="f.taskType.errors.required">{{'Task Type is required' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-5" *ngIf="!newTask.taskType || newTask.taskType.useTaskName">
            <div class="form-group">
              <label for="taskName">
                {{'Task Name' | translate}}
                <span class="required">*</span>
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Task Name Help' | translate}}" popoverTitle="{{'Task Name' | translate}}"></i>
              </label>
              <input type="text" id="taskName" formControlName="taskName" class="form-control"
                     placeholder="{{'Enter task name' | translate}}" required autofocus=""
                     [ngClass]="{ 'is-invalid': submitted && f.taskName.errors }"/>
              <div *ngIf="submitted && f.taskName.errors" class="invalid-feedback">
                <div *ngIf="f.taskName.errors.required">{{'Task Name is required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="taskType">
                {{'Week Day' | translate}}
                <span class="required">*</span>
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Week Day Help' | translate}}" popoverTitle="{{'Week Day' | translate}}"></i>
              </label>
              <div class="form-control h-auto" [ngClass]="{'is-invalid' : submitted && weekDaysError}">
                <ul class="items mb-0">
                  <li class="form-check form-check-inline item" *ngFor="let day of days">
                    <input class="form-check-input" (change)="checkWeekDays()" formControlName="{{day.toLocaleLowerCase()}}" type="checkbox" id="{{day.toLocaleLowerCase()}}" checked>
                    <label class="form-check-label" for="{{day.toLocaleLowerCase()}}">{{day | translate}}</label>
                  </li>
                </ul>
              </div>
              <div *ngIf="submitted && weekDaysError" class="invalid-checkbox-feedback">
                <div>{{'A Week Day is required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="startDate">
                {{'Start Date' | translate}}
                <span class="required">*</span>
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Task Start Date Help' | translate}}" popoverTitle="{{'Start Date' | translate}}"></i>
              </label>
              <div class="input-group">
                <input class="form-control"
                       formControlName="startDate"
                       id="startDate"
                       maxlength="10"
                       placeholder="{{'Insert start date' | translate}}"
                       name="satrtDate"
                       (ngModelChange)="updateStartDate()"
                       ngbDatepicker
                       #startDate="ngbDatepicker"
                       [minDate]="startDateMinDate"
                       [startDate]="startDateStartDate"
                       [maxDate]="startDateMaxDate"
                       [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }">
                <div class="input-group-append">
                  <button class="btn input-group-text"
                          (click)="startDate.toggle()"
                          [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                          type="button">
                    <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                  <div *ngIf="f.startDate.errors">{{'Invalid date' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="endDate">
                {{'End Date' | translate}}
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Task End Date Help' | translate}}" popoverTitle="{{'End Date' | translate}}"></i>
              </label>
              <div class="input-group">
                <input class="form-control"
                       formControlName="endDate"
                       id="endDate"
                       maxlength="10"
                       placeholder="{{'Insert end date' | translate}}"
                       name="endDate"
                       (ngModelChange)="updateEndDate()"
                       ngbDatepicker
                       #endDate="ngbDatepicker"
                       [startDate]="endDateStartDate"
                       [minDate]="endDateMinDate"
                       [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }">
                <div class="input-group-append">
                  <button class="btn input-group-text"
                          (click)="endDate.toggle()"
                          [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"
                          type="button">
                    <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                  <div *ngIf="f.endDate.errors">{{'Invalid date' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="taskGoal">
                {{'Task Goal' | translate}}
                <span class="required">*</span>
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Task Goal Help' | translate}}" popoverTitle="{{'Task Goal' | translate}}"></i>
              </label>
              <input type="range" min="1" max="100" step="1" id="taskGoal" formControlName="taskGoal" class="custom-range"/>
              <div class="task-goal text-center">{{f.taskGoal.value}}%</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer card-footer">
      <button type="submit" class="btn btn-emerland">
        <i class="fa fa-save" aria-hidden="true"></i> {{'Save' | translate}}
      </button>
      <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cancel click')">
        <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</ng-template>
