<ngx-ui-loader [fgsColor]="'#4bafd2'" [pbColor]="'#4bafd2'"></ngx-ui-loader>

<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top border-bottom shadow-sm bg-light p-5">
      <a class="navbar-brand" routerLink="/">
        <div class="text-center">
          <span class="text-green">Quadro</span>
          <span class="text-gray">de</span>
          <span class="text-dark-blue">Tarefas</span>
          <div class="text-gray brand-text">{{'Responsibilities to your child' | translate}}</div>
        </div>
      </a>
      <button #toggleButton class="navbar-toggler btn-light" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" #navbarCollapse id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass]="{'active': isActive('/')}">
            <a class="nav-link" routerLink="/" >{{ 'Home'| translate }}</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': isActive('/boards'), 'pr-0' : currentUser && boardService.myBoards && boardService.myBoards.length > 0}">
            <a *ngIf="currentUser" class="nav-link pr-0" routerLink="/boards">{{ 'Boards' | translate }}</a>
            <span *ngIf="!currentUser" class="nav-link pr-0 disabled">{{ 'Boards' | translate }}</span>
          </li>
          <li class="nav-item pl-0 boards-nav-item" *ngIf="currentUser && boardService.myBoards && boardService.myBoards.length > 0" [ngClass]="{'active': isActive('/boards/board')}">
            <div ngbDropdown class="d-inline-block">
              <a href="#" onclick="return false;" class="nav-link" id="dropdownBoards" ngbDropdownToggle></a>
              <div ngbDropdownMenu aria-labelledby="dropdownBoards">
                <span class="dropdown-header">{{'My boards' | translate}}</span>
                <a ngbDropdownItem routerLink="/boards/board/{{board.id}}" [disabled]="!isAvailable(board)"
                   [ngClass]="{'active': isActive('/boards/board/' + board.id)}"
                   *ngFor="let board of boardService.myBoards" ><i class="fas fa-caret-right"></i> {{board.childName}} <small *ngIf="!isAvailable(board)" class="text-gray font-italic">({{'Unavailable' | translate}})</small>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item" [ngClass]="{'active': isActive('/contact')}">
            <a class="nav-link" routerLink="/contact" >{{ 'Contact'| translate }}</a>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <a href="#" onclick="return false;" class="nav-link" id="dropdownApps" ngbDropdownToggle>{{'Apps' | translate}}</a>
              <div ngbDropdownMenu aria-labelledby="dropdownApps">
                <span class="dropdown-header">{{'Download Apps' | translate}}</span>
                <a ngbDropdownItem disabled><i class="fab fa-android"></i> {{'Android' | translate}} <small class="text-gray font-italic">({{'Soon' | translate}})</small></a>
                <a ngbDropdownItem disabled><i class="fab fa-apple"></i> {{'Apple' | translate}} <small class="text-gray font-italic">({{'Soon' | translate}})</small></a>
              </div>
            </div>
          </li>
        </ul>
        <hr id="user-hr">
        <form class="text-center">
          <div *ngIf="currentUser" class="user-name pb-2"><i class="fas fa-user"></i> {{currentUser.firstName}} {{currentUser.lastName}}</div>
          <button *ngIf="!currentUser" class="btn btn-emerland" type="button" routerLink="/user/login"><i class="fas fa-sign-in-alt"></i> {{'Login'| translate}}</button>
          <button *ngIf="!currentUser" routerLink="/user/register" class="btn btn-link text-blue ml-2" type=button>
            <i class="fa fa-user-plus"></i> {{'Register' | translate}}
          </button>
          <button *ngIf="currentUser" class="btn btn-primary" type="button" (click)="logout()"><i class="fas fa-sign-out-alt"></i> {{'Logout'| translate}}</button>
        </form>
      </div>
  </nav>
</header>

<div class="main">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>

<footer class="footer mt-5 py-3">
  <div class="container text-center text-muted">
    <div class="d-sm-inline">
      <a class="footer-icon btn" href="javascript:void(0);" (click)="copy()" ngbTooltip="{{'Cick to copy' | translate}}: contato@quadrodetarefas.com.br">
        <i class="fa fa-envelope"></i>
      </a>
      <a class="footer-icon btn" href="https://www.facebook.com/quadrodetarefas/" target="_blank" rel="noopener" ngbTooltip="{{'Facebook' | translate}}">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a class="footer-icon btn" href="https://www.instagram.com/quadrodetarefas/" target="_blank" rel="noopener" ngbTooltip="{{'Instagram' | translate}}">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="footer-icon btn" href="javascript:void(0);" target="_blank" rel="noopener" ngbTooltip="{{'Android' | translate}} - {{'Soon' | translate}}">
        <i class="fab fa-android"></i>
      </a>
      <a class="footer-icon btn" href="javascript:void(0);" target="_blank" rel="noopener" ngbTooltip="{{'Apple' | translate}} - {{'Soon' | translate}}">
        <i class="fab fa-apple"></i>
      </a>
    </div>
  </div>
</footer>
