<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Admin' | translate }}</li>
</ol>

<div class="container">

  <ul>
    <li>
      <a routerLink="/admin/users">{{'Users' | translate}}</a>
    </li>
  </ul>

  <h5 class="mt-3">{{'Users' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">_id</th>
          <th class="p-2">username</th>
          <th class="p-2">firstName</th>
          <th class="p-2">lastName</th>
          <th class="p-2">admin</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td class="p-2">{{user._id}}</td>
          <td class="p-2">{{user.username}}</td>
          <td class="p-2">{{user.firstName}}</td>
          <td class="p-2">{{user.lastName}}</td>
          <td class="p-2">{{user.admin}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5 class="mt-3">{{'Boards' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">_id</th>
          <th class="p-2">childName</th>
          <th class="p-2">childBirthDate</th>
          <th class="p-2">childGender</th>
          <th class="p-2">user</th>
          <th class="p-2">startDate</th>
          <th class="p-2">boardGoal</th>
          <th class="p-2">availableStartDate</th>
          <th class="p-2">availableEndDate</th>
          <th class="p-2">test</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let board of boards">
          <td class="p-2">{{board._id}}</td>
          <td class="p-2">{{board.childName}}</td>
          <td class="p-2">{{board.childBirthDate}}</td>
          <td class="p-2">{{board.childGender}}</td>
          <td class="p-2">{{board.user}}</td>
          <td class="p-2">{{board.startDate}}</td>
          <td class="p-2">{{board.boardGoal}}</td>
          <td class="p-2">{{board.availableStartDate}}</td>
          <td class="p-2">{{board.availableEndDate}}</td>
          <td class="p-2">{{board.test}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5 class="mt-3">{{'Checkouts' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">id</th>
          <th class="p-2">user</th>
          <th class="p-2">board</th>
          <th class="p-2">code</th>
          <th class="p-2">date</th>
          <th class="p-2">status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let checkout of checkouts">
          <td class="p-2">{{checkout.id}}</td>
          <td class="p-2">{{checkout.user}}</td>
          <td class="p-2">{{checkout.board}}</td>
          <td class="p-2">{{checkout.code}}</td>
          <td class="p-2">{{checkout.date}}</td>
          <td class="p-2">{{checkout.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
