.invalid-checkbox-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #ea6c56;
}

button.is-invalid {
  border: 1px solid #ea6c56;
  border-bottom-right-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
}

#accept-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.board-goal {
  margin-top: -12px;
}

.new-board-btn {
  width: max-content;
  margin-right: -15px;
}

.new-board-btn i {
  width: 20px;
  text-align: center;
}
