<div *ngIf="!editButton" class="card-deck mb-3 text-center">
  <div class="card mb-4 my-box-2">
    <div class="card-header">
      <h4 class="my-0">{{'Test Task Board' | translate}}</h4>
    </div>
    <div class="card-body">
      <h2 class="h1 card-title text-black">R$ 0
        <small class="text-muted">/ 7 {{'days' | translate}}</small>
      </h2>
      <ul class="list-unstyled mt-3 mb-4">
        <li>1 {{'Task Board' | translate}}</li>
        <li>3 {{'Tasks' | translate}}</li>
        <li>{{'1 test board/user permited' | translate}}</li>
        <li><b>{{'7 days free' | translate}}</b></li>
      </ul>
      <button class="btn btn-secondary btn-block" (click)="open(content, true)" *ngIf="userService.currentUser && testAvailable()">
        <i class="fa fa-plus-square" aria-hidden="true"></i> {{'Create Test Board' | translate}}
      </button>
      <button class="btn btn-secondary btn-block" disabled *ngIf="userService.currentUser && !testAvailable()">
        <i class="fa fa-plus-square" aria-hidden="true"></i> {{'Create Test Board' | translate}}
      </button>
      <button class="btn btn-secondary btn-block" routerLink="/user/login" *ngIf="!userService.currentUser">
        <i class="fa fa-plus-square" aria-hidden="true"></i> {{'Create Test Board' | translate}}
      </button>
    </div>
  </div>
  <div class="card mb-4 my-box-2">
    <div class="card-header">
      <h4 class="my-0">{{'Task Board' | translate}}</h4>
    </div>
    <div class="card-body overflow-hidden">
      <div class="promo-wrapper">
        <div class="promo shadow-sm">
          {{'promo' | translate}}*<br>
        </div>
      </div>
      <h2 class="h1 card-title text-black">R$ 10
        <small class="text-muted">/ 3 {{'months' | translate}}</small>
      </h2>
      <ul class="list-unstyled mt-3 mb-4">
        <li>1 {{'Task Board' | translate}}</li>
        <li>{{'Unlimited tasks' | translate}}</li>
        <li>{{'Unlimited boards/user permited' | translate}}</li>
        <li><b>*{{'3 months / 1 month' | translate}}</b></li>
      </ul>

      <app-checkout #checkoutComponent [board]="newBoard" [thisBoard]="false"></app-checkout>

      <button class="btn btn-emerland btn-block" (click)="open(content, false)" *ngIf="userService.currentUser && !editButton">
        <i class="fas fa-shopping-cart"></i> {{'Buy New Board' | translate}}
      </button>

      <button class="btn btn-emerland btn-block" routerLink="/user/login" *ngIf="!userService.currentUser">
        <i class="fas fa-shopping-cart"></i> {{'Buy New Board' | translate}}
      </button>
    </div>
  </div>
</div>

<div class="board-buttons">
  <button *ngIf="editButton" class="btn btn-link text-blue new-board-btn" (click)="editBoard(boardService.currentBoard)">
    {{'Edit' | translate}} <i class="fas fa-tools"></i>
  </button>
</div>

<ng-template #content let-modal>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-header">
      <h2 *ngIf="!isEditing" class="modal-title">{{'New Board' | translate}}<span *ngIf="newBoard.test"> - {{'Test Task Board' | translate}}</span></h2>
      <h2 *ngIf="isEditing" class="modal-title">{{'Edit Board' | translate}}<span *ngIf="newBoard.test"> - {{'Test Task Board' | translate}}</span></h2>
      <button type="button" class="btn btn-default btn-sm btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <div *ngIf="internalError" class="alert alert-danger">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError}}
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="childName">
                {{'Child Name' | translate}}
                <span class="required">*</span>
              </label>
              <input type="text" id="childName" formControlName="childName" class="form-control"
                     placeholder="{{'Enter child name' | translate}}" required autofocus=""
                     [ngClass]="{ 'is-invalid': submitted && f.childName.errors }"/>
              <div *ngIf="submitted && f.childName.errors" class="invalid-feedback">
                <div *ngIf="f.childName.errors.required">{{'Child Name is required' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="childBirthDate">
                {{'Child Birth Date' | translate}}
                <span class="required">*</span>
              </label>
              <div class="input-group">
                <input class="form-control"
                       formControlName="childBirthDate"
                       id="childBirthDate"
                       maxlength="10"
                       placeholder="{{'Insert child birth date' | translate}}"
                       name="childBirthDate"
                       (ngModelChange)="updateChildBirthDate()"
                       ngbDatepicker
                       #childBirthDate="ngbDatepicker"
                       [startDate]="birthDateStartDate"
                       [maxDate]="today"
                       [ngClass]="{ 'is-invalid': submitted && f.childBirthDate.errors }">
                <div class="input-group-append">
                  <button class="btn input-group-text"
                          (click)="childBirthDate.toggle()"
                          [ngClass]="{ 'is-invalid': submitted && f.childBirthDate.errors }"
                          type="button">
                    <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="submitted && f.childBirthDate.errors" class="invalid-feedback">
                  <div *ngIf="f.childBirthDate.errors">{{'Invalid date' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="childGender">
                {{'Child Gender' | translate}}
                <span class="required">*</span>
              </label>
              <select class="form-control" id="childGender" formControlName="childGender" [ngClass]="{ 'is-invalid': submitted && f.childGender.errors }">
                <option [ngValue]="null">{{'Select a child gender' | translate}}</option>
                <option [ngValue]="'Boy'">{{'Boy' | translate}}</option>
                <option [ngValue]="'Girl'">{{'Girl' | translate}}</option>
              </select>
              <div *ngIf="submitted && f.childGender.errors" class="invalid-feedback">
                <div *ngIf="f.childGender.errors.required">{{'Child Gender is required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="startDate">
                {{'Start Date' | translate}}
                <span class="required">*</span>
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Start Date Help' | translate}}" popoverTitle="{{'Start Date' | translate}}"></i>
              </label>
              <div class="input-group">
                <input class="form-control"
                       formControlName="startDate"
                       id="startDate"
                       maxlength="10"
                       placeholder="{{'Insert start date' | translate}}"
                       name="satrtDate"
                       (ngModelChange)="updateStartDate()"
                       ngbDatepicker
                       #startDate="ngbDatepicker"
                       [startDate]="startDateStartDate"
                       [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }">
                <div class="input-group-append">
                  <button class="btn input-group-text"
                          (click)="startDate.toggle()"
                          [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                          type="button">
                    <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                  <div *ngIf="f.startDate.errors">{{'Invalid date' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="boardGoal">
                {{'Board Goal' | translate}}
                <span class="required">*</span>
                <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'Board Goal Help' | translate}}" popoverTitle="{{'Board Goal' | translate}}"></i>
              </label>
              <input type="range" min="1" max="100" step="1" id="boardGoal" formControlName="boardGoal" class="custom-range"/>
              <div class="board-goal text-center">{{f.boardGoal.value}}%</div>
            </div>
          </div>
        </div>

        <div class="card mt-3 mb-3" *ngIf="!newBoard.test && !isEditing">
          <div class="card-body">
            <h2 class="text-center divider text-black">{{'Terms of Use' | translate}}</h2>
            <hr>
            <ul>
              <li>
                Você receberá uma <b>cobrança recorrente</b> no valor de <b>R$ 10,00</b> (dez reais) a cada <b>três meses</b>.
              </li>
              <li>
                A cobrança recorrente poderá <b>ser cancelada por você</b> a qualquer momento.
              </li>
              <li>
                A cobrança será realizada no site do <b>PagSeguro</b> (ambiente seguro).
              </li>
              <li>
                <b>Não guardamos os seus dados de pagamento</b> em nossos registros.
              </li>
              <li>
                Cada pagamento dará o direito de utilização de <b>um Quadro de Tarefas</b> por um período de <b>três meses</b>.
              </li>
              <li>
                A utilização do Quadro de Tarefas será liberada <b>após a confirmação de pagamento</b>.
              </li>
            </ul>

            <div class="row mt-4">
              <div class="mr-auto ml-auto">
                <div class="form-group">
                  <div class="form-control h-auto" [ngClass]="{'is-invalid' : submitted && !f.accept.value}">
                      <div class="form-check form-check-inline item">
                        <input class="form-check-input" formControlName="accept" type="checkbox" id="accept">
                        <label class="form-check-label text-black" for="accept" id="accept-text">{{'Accept Terms of Use' | translate}} <span class="required">*</span></label>
                      </div>
                  </div>
                  <div *ngIf="submitted && !f.accept.value" class="invalid-checkbox-feedback">
                    <div>{{'Accept Terms of Use is required' | translate}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2 mb-0">
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <h2 class="card-title text-black">R$ 10
                    <small class="text-muted">/ 3 {{'months' | translate}}</small>
                  </h2>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
<!--      <span *ngIf="!newBoard.test && !isEditing" class="text-red">{{'Payment method is under maintenance' | translate}}</span><br>-->
      <button type="submit" class="btn btn-emerland mr-2">
        <i class="fa fa-save" aria-hidden="true"></i> {{'Save' | translate}}
      </button>
      <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cancel click')">
        <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</ng-template>
