<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Reset password' | translate }}</li>
</ol>

<div class="container text-center">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-signin">
    <img alt="{{'Password' | translate}}" src="assets/icons/password.png" class="task-icon mb-5">
    <h3 class="text-center divider">
      {{'Reset password' | translate}}
    </h3>
    <hr>
    <div class="mt-5">
      <label for="newPassword">{{'New password' | translate}}</label>
      <input type="password" #newPassword id="newPassword" formControlName="newPassword" class="form-control" placeholder="{{'Enter a new password' | translate}}"
             [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
        <div *ngIf="f.newPassword.errors.required">{{'Password is required' | translate}}</div>
        <div *ngIf="f.newPassword.errors.minlength">{{'Password must be at least 6 characters' | translate}}</div>
        <div *ngIf="f.newPassword.errors.noMatch">{{'Passwords do not match' | translate}}</div>
      </div>
      <br>
      <label for="verifyPassword">{{'Verify password' | translate}}</label>
      <input type="password" #verifyPassword id="verifyPassword" formControlName="verifyPassword" class="form-control" placeholder="{{'Confirm the new password' | translate}}"
             [ngClass]="{ 'is-invalid': submitted && f.verifyPassword.errors }"/>
      <div *ngIf="submitted && f.verifyPassword.errors" class="invalid-feedback">
        <div *ngIf="f.verifyPassword.errors.required">{{'Password is required' | translate}}</div>
        <div *ngIf="f.verifyPassword.errors.minlength">{{'Password must be at least 6 characters' | translate}}</div>
        <div *ngIf="f.verifyPassword.errors.noMatch">{{'Passwords do not match' | translate}}</div>
      </div>
      <br>
      <div class="form-group text-left">
        <button [disabled]="loading" class="btn btn-emerland btn-block">
          <i class="fas fa-share"></i> {{'Reset password' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
