<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin">{{ 'Admin' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Admin Users' | translate }}</li>
</ol>

<div class="container">
  <h5 class="mt-3">{{'Users' | translate}}</h5>
  <div class="my-box-2 p-3">
    <div class="table-responsive">
      <table class="w-100 table-striped">
        <thead>
        <tr>
          <th class="p-2">_id</th>
          <th class="p-2">username</th>
          <th class="p-2">firstName</th>
          <th class="p-2">lastName</th>
          <th class="p-2">admin</th>
          <th class="p-2">{{'Action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td class="p-2">{{user._id}}</td>
          <td class="p-2">{{user.username}}</td>
          <td class="p-2">{{user.firstName}}</td>
          <td class="p-2">{{user.lastName}}</td>
          <td class="p-2">{{user.admin}}</td>
          <td class="p-2"><button class="btn btn-secondary" routerLink="/admin/users/user/{{user._id}}" ngbTooltip="{{'View user' | translate}}"><i class="fas fa-search"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination class="d-flex mt-3 justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="users.length" [disabled]="users.length <= pageSize"></ngb-pagination>

  </div>
</div>
