<div class="text-center">
  <div class="prize" *ngIf="!disabled">{{prize ? prize : 0}}%</div>
  <div class="prize disabled-trophy" *ngIf="disabled">&nbsp;</div>
  <div class="trophy-wrapper">
    <div *ngIf="disabled">
      <img alt="{{'Trophy' | translate}}" src="assets/icons/trophy-bg.png" class="task-icon disabled-trophy">
    </div>
    <div *ngIf="!disabled">
      <img alt="{{'Trophy' | translate}}" src="assets/icons/trophy.png" class="task-icon">
    </div>
    <div *ngIf="!disabled" class="overflow-hidden trophyMask" [style.height.px]="height">
      <img alt="{{'Trophy' | translate}}" src="assets/icons/trophy-bg.png" class="task-icon">
    </div>
  </div>
</div>

