.star {
  position: relative;
  display: inline-block;
  color: #ffc107;
}

.full {
  color: #f7f7f7;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #f7f7f7;
}

.prize {
  font-weight: bold;
  position: relative;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 5px auto -30px;
  color: #424343;
}

.trophyMask {
  margin-top: -65px;
}

.trophy-wrapper {
  height: 65px;
}

.disabled-trophy {
  opacity: .195;
}
