@import "~bootstrap/dist/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
@import "assets/css/custom-layout.css";

/* You can add global styles to this file, and also import other style files */

html {
  font-size: 13px;
}

body {
  padding-top: 4.5rem;
}

.alert-component {
  position: absolute;
  top: 70px;
  right: 10px;
}

span.required {
  color: #dc3545;
}

.girl {
  /*color: #e83e8c;*/
  /*border: 1px solid #e83e8c;*/
}

.girl:hover {
  /*background-color: rgba(232, 62, 140, 0.2);*/
}

.boy {
  /*color: #007bff;*/
  /*border: 1px solid #007bff;*/
}

.boy:hover {
  /*background-color: rgba(0, 123, 255, 0.2);*/
}

.text-disabled {
  opacity: .3 !important;
}

.bordered-icon {
  text-shadow: -1px 0 #6c757d, 0 1px #6c757d, 1px 0 #6c757d, 0 -1px #6c757d;
}

.confirm-btn-container button {
  width: 90px;
}

.task-icon {
  height: 65px;
}

.ngb-dp-day.disabled, .ngb-dp-day.hidden {
  font-style: italic;
  opacity: 0.3;
}

.logo-icon {
  height: 40px;
}
