<!--<ol class="breadcrumb">-->
<!--  <li class="breadcrumb-item active">{{ 'Home' | translate }}</li>-->
<!--</ol>-->

<section class="background-green section-1">
  <div class="container py-5">
    <div class="h1 text-white text-center py-5">
      {{'Responsibilities to your child' | translate}}
    </div>
  </div>
</section>

<section>
  <div class="container py-5">
    <h1 class="h2 text-center divider"> {{'Create Task Boards' | translate}} </h1>
    <hr>
    <p class="text-center text-black-50 mb-5">
      Crie vários quadros para controlar as tarefas das crianças.
    </p>

    <app-new-board #newBoardComponent (loadAllBoards)="gotoBoards()"></app-new-board>
  </div>
</section>

<section class="background-dark-blue">
  <div class="container py-5">
    <h2 class="h2 text-center text-white divider"> {{'My boards' | translate}} </h2>
    <hr>
    <p class="text-center text-gray mb-5">
      Controle separadamente vários quadros de tarefas das crianças.
    </p>

    <div class="pt-3 pb-3 pl-4 pr-4 my-box-2 mb-3">
      <div class="d-flex">
        <div class="w-100">
          <div class="d-flex">
            <div class="div-img">
              <div class="card p-0 boy mr-3 shadow-sm">
                <img class="task-icon child" alt="{{'Girl' | translate}}" src="assets/icons/sister.png">
              </div>
            </div>
            <div class="div-nome">
              <div>
                <h4 class="text-black board-link w-100 pt-2">Maria da Silva</h4>
                <span class="text-muted">{{'Girl' | translate}}: 6 {{'years' | translate}} - 10/08/2012</span></div>
            </div>
          </div>
          <div class="boards-buttons boards-buttons-sm">
            <div class="mt-3 mb-0">
              <div class="d-inline-block w-50 pr-1">
                <div class="btn btn-emerland btn-block no-pointer">
                  <i class="fas fa-chevron-circle-right"></i> {{'Access' | translate}}
                </div>
              </div>
              <div class="d-inline-block w-50 pl-1">
                <div class="btn btn-secondary btn-block no-pointer">
                  <i class="fas fa-tools"></i> {{'Edit' | translate}}
                </div>
              </div>
            </div>
            <div class="d-inline-block w-100 my-3">
              <div class="btn btn-primary btn-block no-pointer">
                <i aria-hidden="true" class="fa fa-ban"></i> {{'Cancel payment' | translate}}
              </div>
            </div>
          </div>
          <ul class="mt-2 mb-1">
            <li class="pt-1"> {{'Start Date' | translate}}: 11/06/2019</li>
            <li class="pt-1"> {{'Available' | translate}}: <span class="font-weight-bold">19/07/2019</span> {{'to' | translate}} <span class="font-weight-bold text-green">19/10/2019</span></li>
            <li class="pt-1"> {{'Payment status' | translate}}: <span class="text-green font-weight-bold">{{'ACTIVE' | translate}}</span> <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i></li>
          </ul>
        </div>
        <div class="boards-buttons boards-buttons-lg">
          <div class="btn btn-link text-green no-pointer">
            {{'Access' | translate}} <i class="fas fa-chevron-circle-right"></i>
          </div>
          <div class="btn btn-link text-blue no-pointer">
            {{'Edit' | translate}} <i class="fas fa-tools"></i>
          </div>
          <div class="btn btn-link text-red no-pointer">
            {{'Cancel payment' | translate}} <i aria-hidden="true" class="fa fa-ban"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-3 pb-3 pl-4 pr-4 my-box-2 mb-3">
      <div class="d-flex">
        <div class="w-100">
          <div class="d-flex">
            <div class="div-img">
              <div class="card p-0 boy mr-3 shadow-sm">
                <img alt="{{'Boy' | translate}}" class="task-icon child" src="assets/icons/brother.png">
              </div>
            </div>
            <div class="div-nome">
              <div>
                <h4 class="text-black board-link w-100 pt-2">João da Silva</h4>
                <span class="text-muted">{{'Boy' | translate}}: 4 {{'years' | translate}} - 07/09/2014</span></div>
            </div>
          </div>
          <div class="boards-buttons boards-buttons-sm">
            <div class="mt-3 mb-0">
              <div class="d-inline-block w-50 pr-1">
                <div class="btn btn-emerland btn-block no-pointer">
                  <i class="fas fa-chevron-circle-right"></i> {{'Access' | translate}}
                </div>
              </div>
              <div class="d-inline-block w-50 pl-1">
                <div class="btn btn-secondary btn-block no-pointer">
                  <i class="fas fa-tools"></i> {{'Edit' | translate}}
                </div>
              </div>
            </div>
            <div class="d-inline-block w-100 my-3">
              <div class="btn btn-primary btn-block no-pointer">
                <i aria-hidden="true" class="fa fa-ban"></i> {{'Cancel payment' | translate}}
              </div>
            </div>
          </div>
          <ul class="mt-2 mb-1">
            <li class="pt-1"> {{'Start Date' | translate}}: 11/06/2019</li>
            <li class="pt-1"> {{'Available' | translate}}: <span class="font-weight-bold">19/07/2019</span> {{'to' | translate}} <span class="font-weight-bold text-green">19/10/2019</span></li>
            <li class="pt-1"> {{'Payment status' | translate}}: <span class="text-green font-weight-bold">{{'ACTIVE' | translate}}</span> <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i></li>
          </ul>
        </div>
        <div class="boards-buttons boards-buttons-lg">
          <div class="btn btn-link text-green no-pointer">
            {{'Access' | translate}} <i class="fas fa-chevron-circle-right"></i>
          </div>
          <div class="btn btn-link text-blue no-pointer">
            {{'Edit' | translate}} <i class="fas fa-tools"></i>
          </div>
          <div class="btn btn-link text-red no-pointer">
            {{'Cancel payment' | translate}} <i aria-hidden="true" class="fa fa-ban"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container py-5">
    <h2 class="h2 text-center divider"> {{'Child Tasks' | translate}} </h2>
    <hr>
    <p class="text-center text-black-50 mb-5">
      Controle cada tarefa diariamente e tenha um status semanal.
    </p>

    <div class="table-header p-4 text-center w-100 d-inline-flex">
      <div class="week-bt-div-prev w-auto">
        <div class="btn btn-sm btn-white no-pointer">
          <i class="fas fa-chevron-left"></i>
        </div>
      </div>
      <h2 class="h1 text-white w-100">
        <span>{{'Junho' | translate}} 2019</span>
      </h2>
      <div class="week-bt-div-next w-auto">
        <div class="btn btn-sm btn-white no-pointer">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>

    <div class="d-flex p-3 calendar-box">
      <div class="table-responsive w-100 h-100" id="divStatusTable">
        <table class="h-100 text-center" id="homeStatusTable">
          <thead>
          <tr>
            <th class="task-title-cell" scope="col"></th>
            <th class="col-status pt-3 pb-3" scope="col">
              {{'Task' | translate}}
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              <div class="date-before"> Domingo<br> 16/06/19</div>
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              <div class="date-before"> Segunda<br> 17/06/19</div>
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              <div class="date-before"> Terça<br> 18/06/19</div>
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              <div class="date-before"> Quarta<br> 19/06/19</div>
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              <div class="date-today"> Quinta <br> 20/06/19</div>
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              <div class="date-after"> Sexta<br> 21/06/19</div>
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              <div class="date-after"> Sábado<br> 22/06/19</div>
            </th>
            <th class="col-status pt-3 pb-3" scope="col">
              {{'Prize' | translate }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="calendar-cell task-title-cell">
              <div class="task-title text-blue">{{'School' | translate}}</div>
            </td>
            <td class="d-table-cell col-status calendar-cell" *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
              <div class="align-middle h-100 position-relative">
                <div class="pt-3 pb-3 pl-1 pr-1">
                  <span class="text-secondary">
                    <img *ngIf="number === 0" class="task-icon" src="assets/icons/school.png"
                         alt="{{'School' | translate}}">
                    <img *ngIf="number !== 0 && number !== 8 && number % 3 === 0" class="task-icon"
                         src="assets/icons/sad.png" alt="{{'Warning' | translate}}">
                    <img *ngIf="number !== 0 && number !== 8 && number % 3 === 1" class="task-icon"
                         src="assets/icons/happy.png" alt="{{'Success' | translate}}">
                    <img *ngIf="number !== 0 && number !== 8 && number % 3 === 2" class="task-icon"
                         src="assets/icons/happy.png" alt="{{'Success' | translate}}">

                    <div *ngIf="number === 8">
                      <div class="award text-blue">
                        <i class="fas fa-award fa-2x"></i>
                      </div>
                      <app-trophy [currentRate]=".86"></app-trophy>
                    </div>

                  </span>
                </div>
                <div class="div-footer text-right p-1 pr-3">
                  <div *ngIf="number === 0" class="btn btn-link p-0 text-info mr-2 no-pointer">
                    <i class="fas fa-tools"></i>
                  </div>
                  <div *ngIf="number === 0" class="btn btn-link p-0 text-danger no-pointer">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                  </div>
                  <div *ngIf="number !== 0 && number !== 8"
                          class="btn btn-link p-0 disabled text-disabled no-pointer">
                    <i class="fas fa-comment-slash"></i>
                  </div>
                  <div *ngIf="number === 8" class="btn btn-link p-0 text-secondary no-pointer" style="right: 0">
                    <i class="fas fa-question"></i>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="calendar-cell task-title-cell">
              <div class="task-title text-blue">{{'Parents' | translate}}</div>
            </td>
            <td class="d-table-cell col-status calendar-cell" *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
              <div class="align-middle h-100 position-relative">
                <div class="pt-3 pb-3 pl-1 pr-1">
                        <span class="text-secondary">
                          <img *ngIf="number === 0" class="task-icon" src="assets/icons/parents.png"
                               alt="{{'Parents' | translate}}">
                          <img *ngIf="number !== 0 && number !== 8 && number % 3 === 0" class="task-icon"
                               src="assets/icons/undefined.png" alt="{{'Undefined' | translate}}">
                          <img *ngIf="number !== 0 && number !== 8 && number % 3 === 1" class="task-icon"
                               src="assets/icons/angry.png" alt="{{'Danger' | translate}}">
                          <img *ngIf="number !== 0 && number !== 8 && number % 3 === 2" class="task-icon"
                               src="assets/icons/happy.png" alt="{{'Success' | translate}}">

                          <div *ngIf="number === 8">
                            <app-trophy [currentRate]=".4"></app-trophy>
                          </div>

                        </span>
                </div>
                <div class="div-footer text-right p-1 pr-3">
                  <div *ngIf="number === 0" class="btn btn-link p-0 text-info mr-2 no-pointer">
                    <i class="fas fa-tools"></i>
                  </div>
                  <div *ngIf="number === 0" class="btn btn-link p-0 text-danger no-pointer">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                  </div>
                  <div *ngIf="number !== 0 && number !== 8"
                          class="btn btn-link p-0 disabled text-disabled no-pointer">
                    <i class="fas fa-comment-slash"></i>
                  </div>
                  <div *ngIf="number === 8" class="btn btn-link p-0 text-secondary no-pointer" style="right: 0">
                    <i class="fas fa-question"></i>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>

<section class="background-dark-blue last-section">
  <div class="container py-5">
    <h2 class="h2 text-center text-white divider"> {{'Custom Tasks' | translate}} </h2>
    <hr>
    <p class="text-center text-gray mb-5">
      Crie tarefas personalizadas de acordo com os dias da semana e objetivos da criança.
    </p>

    <div class="modal-content">
      <div class="modal-header card-header">
        <h2 class="modal-title">{{'New Task' | translate}}</h2>
        <div aria-label="Close" class="btn btn-default btn-sm btn-close no-pointer">
          <i aria-hidden="true" class="fa fa-times"></i>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-2 text-center">
              <img class="task-icon disabled-icon" src="assets/icons/tasks.png" alt="{{'Tasks' | translate}}">
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="taskType">
                  {{'Task Type' | translate}}
                  <span class="required">*</span>
                  <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i>
                </label>
                <select class="form-control" id="taskType">
                <option>{{'Select a task type' | translate}}</option>
              </select>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="taskName">
                  {{'Task Name' | translate}}
                  <span class="required">*</span>
                  <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i>
                </label>
                <input id="taskName" class="form-control" type="text" placeholder="{{'Enter task name' | translate}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="week-days">
                  {{'Week Day' | translate}}
                  <span class="required">*</span>
                  <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i>
                </label>
                <div id="week-days" class="form-control h-auto">
                  <ul class="items mb-0">
                    <li class="form-check form-check-inline item">
                      <input id="sunday" checked="" class="form-check-input" type="checkbox">
                      <label for="sunday" class="form-check-label">{{'Sunday' | translate}}</label>
                    </li>
                    <li class="form-check form-check-inline item">
                      <input id="monday" checked="" class="form-check-input" type="checkbox">
                      <label for="monday" class="form-check-label">{{'Monday' | translate}}</label>
                    </li>
                    <li class="form-check form-check-inline item">
                      <input id="tuesday" checked="" class="form-check-input" type="checkbox">
                      <label for="tuesday" class="form-check-label">{{'Tuesday' | translate}}</label>
                    </li>
                    <li class="form-check form-check-inline item">
                      <input id="wednesday" checked="" class="form-check-input" type="checkbox">
                      <label for="wednesday" class="form-check-label">{{'Wednesday' | translate}}</label>
                    </li>
                    <li class="form-check form-check-inline item">
                      <input id="thursday" checked="" class="form-check-input" type="checkbox">
                      <label for="thursday" class="form-check-label">{{'Thursday' | translate}}</label>
                    </li>
                    <li class="form-check form-check-inline item">
                      <input id="friday" checked="" class="form-check-input" type="checkbox">
                      <label for="friday" class="form-check-label">{{'Friday' | translate}}</label>
                    </li>
                    <li class="form-check form-check-inline item">
                      <input id="saturday" checked="" class="form-check-input" type="checkbox">
                      <label for="saturday" class="form-check-label">{{'Saturday' | translate}}</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="start-date">
                  {{'Start Date' | translate}}
                  <span class="required">*</span>
                  <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i>
                </label>
                <div class="input-group">
                  <input class="form-control" id="start-date" placeholder="{{'Insert start date' | translate}}">
                  <div class="input-group-append">
                    <div class="btn input-group-text no-pointer">
                      <i aria-hidden="true" class="fa fa-calendar-alt"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="end-date">
                  {{'End Date' | translate}}
                  <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i>
                </label>
                <div class="input-group">
                  <input class="form-control" id="end-date" placeholder="{{'Insert end date' | translate}}">
                  <div class="input-group-append">
                    <div class="btn input-group-text no-pointer">
                      <i aria-hidden="true" class="fa fa-calendar-alt"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="range">
                  {{'Task Goal' | translate}}
                  <span class="required">*</span>
                  <i aria-hidden="true" class="fa fa-question-circle text-green ml-2"></i>
                </label>
                <input id="range" class="custom-range" type="range">
                <div class="task-goal text-center">80%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer card-footer">
        <div class="btn btn-emerland no-pointer">
          <i aria-hidden="true" class="fa fa-save"></i> {{'Save' | translate}}
        </div>
        <div class="btn btn-primary no-pointer">
          <i aria-hidden="true" class="fa fa-ban"></i> {{'Cancel' | translate}}
        </div>
      </div>
    </div>

  </div>
</section>
