.h1 {
  font-size: 50px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
  font-weight: 700;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
}

.no-pointer {
  pointer-events: none;
}

p {
  font-size: 20px;
}

th {
  height: 74px;
}
td {
  height: 130px;
}

.col-status {
  min-width: 90px;
}

.last-section {
  margin-bottom: -3rem !important;
}

.award {
  position: absolute;
  right: 5px;
  top: 7px;
}

ul {
  padding-inline-start: 20px;
}

.form-control, .custom-range {
  pointer-events: none;
}

.modal-title {
  font-size: 2rem;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
}

.items {
  overflow: hidden; /* simple clearfix */
  padding-left: 0;
}

.items .item {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 33px;
  }
  .items .item {
    width: 50%;
  }

}
