<div class="{{cardStatus}}" [ngClass]="{'today': isToday, 'status-div': cardStatus !== 'disabled' && cardStatus !== 'future'}">
  <button *ngIf="currentStatus" class="btn btn-link p-0" (click)="open(content)" [ngbTooltip]="'Select status' | translate"
          [disabled]="cardStatus === 'disabled' || cardStatus === 'future'">
    <span class="text-success"
          *ngIf="currentStatus.statusValue && currentStatus.statusValue.toString() === 'SUCCESS' && cardStatus !== 'disabled'">
      <img src="assets/icons/happy.png" alt="{{'Success' | translate}}" class="task-icon">
    </span>
    <span class="text-warning"
          *ngIf="currentStatus.statusValue && currentStatus.statusValue.toString() === 'WARNING' && cardStatus !== 'disabled'">
      <img src="assets/icons/sad.png" alt="{{'Warning' | translate}}" class="task-icon">
    </span>
    <span class="text-danger"
          *ngIf="currentStatus.statusValue && currentStatus.statusValue.toString() === 'DANGER' && cardStatus !== 'disabled'">
      <img src="assets/icons/angry.png" alt="{{'Danger' | translate}}" class="task-icon">
    </span>
    <span class="text-light" *ngIf="!currentStatus.statusValue && cardStatus !== 'disabled' && cardStatus !== 'future'">
      <img src="assets/icons/undefined.png" alt="{{'Undefined' | translate}}" class="task-icon">
    </span>
    <span class="text-secondary text-disabled" *ngIf="cardStatus === 'disabled'">
      <img src="assets/icons/forbidden.png" alt="{{'Forbidden' | translate}}" class="task-icon">
    </span>
    <span class="text-secondary text-disabled" *ngIf="cardStatus === 'future'">
      <img src="assets/icons/undefined.png" alt="{{'Forbidden' | translate}}" class="task-icon">
    </span>
  </button>
</div>

<ng-template #content let-modal>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-header card-header">
      <h2 class="modal-title">{{ 'Select status' | translate }}</h2>
      <button type="button" class="btn btn-default btn-sm btn-close" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label for="feedback">
          {{'Status' | translate}}
          <span class="required">*</span>
        </label>
        <div class="row status-row">
          <div class="col-status text-center">
            <button type="button" class="btn btn-link btn-status" (click)="updateStatusValue(SUCCESS)"
                    ngbTooltip="{{ 'Success' | translate }}"
                    [ngClass]="{'border-success selected' : currentStatus.statusValue === SUCCESS}">
              <img src="assets/icons/happy.png" alt="{{'Success' | translate}}" class="task-icon">
            </button>
            <div *ngIf="currentStatus.statusValue === SUCCESS"
                 class="text-success mt-2">{{'Success' | translate}}</div>
          </div>
          <div class="col-status text-center">
            <button type="button" class="btn btn-link btn-status" (click)="updateStatusValue(WARNING)"
                    ngbTooltip="{{ 'Warning' | translate }}"
                    [ngClass]="{'border-warning selected' : currentStatus.statusValue === WARNING}">
              <img src="assets/icons/sad.png" alt="{{'Warning' | translate}}" class="task-icon">
            </button>
            <div *ngIf="currentStatus.statusValue === WARNING"
                 class="text-warning mt-2">{{'Warning' | translate}}</div>
          </div>
          <div class="col-status text-center">
            <button type="button" class="btn btn-link btn-status" (click)="updateStatusValue(DANGER)"
                    ngbTooltip="{{ 'Danger' | translate }}"
                    [ngClass]="{'border-danger selected' : currentStatus.statusValue === DANGER}">
              <img src="assets/icons/angry.png" alt="{{'Danger' | translate}}" class="task-icon">
            </button>
            <div *ngIf="currentStatus.statusValue === DANGER" class="text-danger mt-2">{{'Danger' | translate}}</div>
          </div>
          <div class="col-status text-center">
            <button type="button" class="btn btn-link btn-status" (click)="updateStatusValue(null)"
                    ngbTooltip="{{ 'Undefined' | translate }}"
                    [ngClass]="{'border-secondary selected' : !currentStatus.statusValue}">
              <img src="assets/icons/undefined.png" alt="{{'Undefined' | translate}}" class="task-icon">
            </button>
            <div *ngIf="!currentStatus.statusValue" class="text-secondary mt-2">{{'Undefined' | translate}}</div>
          </div>
        </div>
      </div>

      <input type="hidden" id="statusValue" formControlName="statusValue" class="form-control">

      <div class="form-group">
        <label for="feedback">
          {{'Feedback' | translate}} ({{'Optional' | translate}})
        </label>
        <textarea id="feedback" formControlName="feedback" class="form-control"
                  [placeholder]="'Enter a feedback...' | translate"></textarea>
      </div>
    </div>
    <div class="modal-footer card-footer">
      <button type="submit" class="btn btn-emerland"><i class="fas fa-save"></i> {{'Save' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="modal.dismiss()"><i
        class="fas fa-ban"></i> {{'Cancel' | translate}}</button>
    </div>
  </form>

</ng-template>
