.btn-status {
  opacity: .3;
}

.selected {
  opacity: 1;
}

.status-div {
  background-image: url("assets/icons/loading.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.col-status {
  flex: 0 0 25%;
  max-width: 25%;
  min-height: 110px;
}

@media only screen and (max-width: 768px) {
  .col-status {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.border-success {
  border: 1px solid #43ca83;
  /*border-radius: .25rem;*/
}

.border-warning {
  border: 1px solid #D7A30D;
  /*border-radius: .25rem;*/
}

.border-danger {
  border: 1px solid #ea6c56;
  /*border-radius: .25rem;*/
}

.border-secondary {
  border: 1px solid #7f7f7f;
  /*border-radius: .25rem;*/
}

.status-row {
  margin-left: 0;
  margin-right: 0;
}
