<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin">{{ 'Admin' | translate }}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/admin/checkouts">{{ 'Admin Checkouts' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Admin Checkout' | translate }}</li>
</ol>

<div class="container">
  <h5 class="mt-3">{{'Checkout' | translate}}</h5>
  <div class="my-box-2 p-3">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div *ngIf="internalError" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{internalError}}
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="id">
              {{'Id' | translate}}
            </label>
            <input type="text" id="id" class="form-control" value="{{checkout?.id}}" readonly required/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="user">
              {{'User' | translate}}
            </label>
            <input type="text" id="user" class="form-control" value="{{checkout?.user}}" readonly required/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="board">
              {{'Board' | translate}}
            </label>
            <input type="text" id="board" class="form-control" value="{{checkout?.board}}" readonly required/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="code">
              {{'Code' | translate}}
            </label>
            <input type="text" id="code" class="form-control" value="{{checkout?.code}}" readonly required/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="date">
              {{'Date' | translate}}
            </label>
            <input type="text" id="date" class="form-control" value="{{checkout?.date | date:'dd/MM/yyyy HH:mm:ss'}}" readonly required/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="status">
              {{'Status' | translate}}
            </label>
            <input type="text" id="status" class="form-control" value="{{checkout?.status}}" readonly required/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-emerland" [disabled]="!checkoutForm.dirty && checkoutForm.pristine">
            <i class="fa fa-save" aria-hidden="true"></i> {{'Save' | translate}}
          </button>
          <button type="button" class="btn btn-primary ml-2" (click)="cancel()" [disabled]="!checkoutForm.dirty && checkoutForm.pristine">
            <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>

  <h5 class="mt-3">{{'PreApprovals' | translate}}</h5>
  <div class="my-box-2 p-3">
    <code>{{preApprovals}}</code>
  </div>
</div>
