<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">{{ 'Home' | translate }}</a>
  </li>
  <li class="breadcrumb-item active">{{ 'Boards' | translate }}</li>
</ol>

<div class="container">
  <h3 class="text-center divider">
    {{'My boards' | translate}}
  </h3>
  <hr>
  <div class="mt-5">
    <div class="text-right mb-3 new-board-lg">
      <app-new-board #newBoardComponent (loadAllBoards)="loadAllBoards()"></app-new-board>
    </div>
    <div class="media text-muted pt-3" *ngIf="!boardService.myBoards || boardService.myBoards.length === 0">
      <ngb-alert [type]="'secondary'" [dismissible]="false" class="mb-0 w-100 text-center">
        {{'No boards available' | translate}}
      </ngb-alert>
    </div>
    <div class="pt-3 pb-3 pl-4 pr-4 my-box-2 mb-3" *ngFor="let board of boardService.myBoards">
      <div class="d-flex">
        <div class="w-100">
          <div class="d-flex">
            <div class="div-img">
              <div class="card p-0 girl mr-3 shadow-sm" *ngIf="board.childGender === 'Girl'">
                <img alt="{{'Girl' | translate}}" *ngIf="isAvailable(board)" src="assets/icons/sister.png" class="task-icon child"
                     routerLink="/boards/board/{{board.id}}">
                <img alt="{{'Girl' | translate}}" *ngIf="!isAvailable(board)" src="assets/icons/sister.png" class="task-icon disabled-icon">
              </div>
              <div class="card p-0 boy mr-3 shadow-sm" *ngIf="board.childGender === 'Boy'">
                <img alt="{{'Boy' | translate}}" *ngIf="isAvailable(board)" src="assets/icons/brother.png" class="task-icon child"
                     routerLink="/boards/board/{{board.id}}">
                <img alt="{{'Boy' | translate}}" *ngIf="!isAvailable(board)" src="assets/icons/brother.png" class="task-icon disabled-icon">
              </div>
            </div>
            <div class="div-nome">
              <div>
                <h4 *ngIf="isAvailable(board)" class="text-black board-link w-100 pt-2"
                    routerLink="/boards/board/{{board.id}}">{{board.childName}}</h4>
                <h4 *ngIf="!isAvailable(board)" class="text-muted w-100 pt-2">{{board.childName}}</h4>
                <span class="text-muted">{{board.childGender | translate}}
                  : {{getAge(board.childBirthDate)}} {{ getAge(board.childBirthDate) < 2 ? ('year' | translate) : ('years' | translate)}}
                  - {{board.childBirthDate | date:'dd/MM/yyyy'}}</span>
              </div>
            </div>
          </div>
          <div class="boards-buttons boards-buttons-sm">
            <div class="mt-3 mb-0">
              <div class="d-inline-block pr-1" [ngClass]="{'w-33': userService.currentUser.admin, 'w-50': !userService.currentUser.admin}">
                <button [disabled]="!isAvailable(board)" routerLink="/boards/board/{{board.id}}"
                        class="btn btn-emerland btn-block" [ngbTooltip]="'Access Board' | translate">
                  <i class="fas fa-chevron-circle-right"></i> {{'Access' | translate}}
                </button>
              </div>
              <div class="d-inline-block pl-1" [ngClass]="{'w-33 pr-1': userService.currentUser.admin, 'w-50': !userService.currentUser.admin}">
                <button [disabled]="!isAvailable(board)" (click)="editBoard(board)" class="btn btn-secondary btn-block"
                        [ngbTooltip]="'Edit Board' | translate">
                  <i class="fas fa-tools"></i> {{'Edit' | translate}}
                </button>
              </div>
              <div class="d-inline-block pl-1" *ngIf="userService.currentUser.admin" [ngClass]="{'w-33': userService.currentUser.admin, 'w-50': !userService.currentUser.admin}">
                <button mwlConfirmationPopover
                        class="btn btn-primary btn-block"
                        [title]="'Delete' | translate"
                        [popoverTitle]="'Delete' | translate"
                        [popoverMessage]="'Delete the board?' | translate"
                        (confirm)="deleteBoard(board)"
                        confirmButtonType="primary"
                        confirmText="<i class='fa fa-check' aria-hidden='true'></i> {{'Yes' | translate}}"
                        cancelButtonType="secondary"
                        cancelText="<i class='fa fa-ban' aria-hidden='true'></i> {{'No' | translate}}"
                        [appendToBody]="true"
                        [reverseButtonOrder]="true"
                        placement="top"
                        ngbTooltip="{{'Delete the board' | translate}}">
                  <i class="fa fa-trash" aria-hidden="true"></i> {{'Delete' | translate}}
                </button>
              </div>
            </div>
            <div class="d-inline-block w-100 my-3" *ngIf="getCheckoutStatus(board) === 'ACTIVE'">
              <button class="btn btn-primary btn-block"
                      (click)="openCancelPayment(board)"
                      placement="top"
                      ngbTooltip="{{'Cancel payment' | translate}}">
                <i class="fa fa-ban" aria-hidden="true"></i> {{'Cancel payment' | translate}}
              </button>
            </div>
          </div>
          <ul class="mt-2 mb-1">
            <li class="pt-1">
              {{'Start Date' | translate}}: {{board.startDate | date:'dd/MM/yyyy'}}
            </li>
            <li class="pt-1" *ngIf="board.availableStartDate">
              {{'Available' | translate}}:
              <span
                class="font-weight-bold">{{board.availableStartDate | date:'dd/MM/yyyy'}}</span> {{'to' | translate}}
              <span class="font-weight-bold"
                    [ngClass]="{'text-green': isAvailable(board), 'text-red': !isAvailable(board)} ">{{board.availableEndDate | date:'dd/MM/yyyy'}}</span>
            </li>
            <li class="pt-1" *ngIf="board.test">
              {{'Payment status' | translate}}: <span
              class="text-blue font-weight-bold">{{'Test Task Board' | translate}}</span>
            </li>
            <li class="pt-1" *ngIf="getCheckoutStatus(board) === 'ACTIVE' && !board.test">
              {{'Payment status' | translate}}: <span
              class="text-green font-weight-bold">{{'ACTIVE' | translate}}</span>
              <i class="fa fa-question-circle text-green ml-2 help-icon" aria-hidden="true" ngbPopover="{{'ACTIVE_HELP' | translate}}" popoverTitle="{{'ACTIVE' | translate}}"></i>
            </li>
            <li class="pt-1" *ngIf="getCheckoutStatus(board) === 'PENDING' && !board.test">
              {{'Payment status' | translate}}: <span
              class="text-blue font-weight-bold">{{'PENDING' | translate}}</span>
              <i class="fa fa-question-circle text-blue ml-2 help-icon" aria-hidden="true" ngbPopover="{{'PENDING_HELP' | translate}}" popoverTitle="{{'PENDING' | translate}}"></i>
            </li>
            <li class="pt-1"
                *ngIf="(getCheckoutStatus(board) === 'NOT_PAYED' || getCheckoutStatus(board) === 'INITIATED') && !board.test ">
              {{'Payment status' | translate}}: <span
              class="text-warning font-weight-bold">{{'NOT_PAYED' | translate}}</span>
              <i class="fa fa-question-circle text-warning ml-2 help-icon" aria-hidden="true" ngbPopover="{{'NOT_PAYED_HELP' | translate}}" popoverTitle="{{'NOT_PAYED' | translate}}"></i>
            </li>
            <li class="pt-1" *ngIf="getCheckoutStatus(board) !== 'PENDING'
                                      && getCheckoutStatus(board) !== 'ACTIVE'
                                      && getCheckoutStatus(board) !== 'INITIATED'
                                      && getCheckoutStatus(board) !== 'NOT_PAYED'
                                      && !board.test">
              {{'Payment status' | translate}}: <span
              class="text-red font-weight-bold">{{getCheckoutStatus(board) | translate}}</span>
              <i class="fa fa-question-circle text-red ml-2 help-icon" aria-hidden="true" ngbPopover="{{getCheckoutStatus(board) + '_HELP' | translate}}" popoverTitle="{{getCheckoutStatus(board) | translate}}"></i>
            </li>
          </ul>
          <div class="card payment-card mt-3 card-line"
               *ngIf="!isAvailable(board) && getCheckoutStatus(board) !== 'PENDING'">
            <div class="card-body text-center">
              <div class="promo-wrapper-sm">
                <div class="promo-sm shadow-sm">
                  {{'promo' | translate}}<br>
                </div>
              </div>
              <h2 class="h1 card-title text-black">R$ 10
                <small class="text-muted">/ 3 {{'months' | translate}}</small>
              </h2>
              <app-checkout [buttomLabel]="'Pay again' | translate" [board]="board" [thisBoard]="true"></app-checkout>
            </div>
          </div>
        </div>
        <div class="boards-buttons boards-buttons-lg">
          <button [disabled]="!isAvailable(board)" routerLink="/boards/board/{{board.id}}"
                  class="btn btn-link text-green" [ngbTooltip]="'Access Board' | translate">{{'Access' | translate}} <i
            class="fas fa-chevron-circle-right"></i></button>
          <button [disabled]="!isAvailable(board)" (click)="editBoard(board)" class="btn btn-link text-blue"
                  [ngbTooltip]="'Edit Board' | translate">{{'Edit' | translate}} <i class="fas fa-tools"></i></button>
          <button *ngIf="getCheckoutStatus(board) === 'ACTIVE'"
                  class="btn btn-link text-red"
                  (click)="openCancelPayment(board)"
                  placement="top"
                  ngbTooltip="{{'Cancel payment' | translate}}">
            {{'Cancel payment' | translate}} <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
          <button mwlConfirmationPopover
                  *ngIf="userService.currentUser.admin"
                  class="btn btn-link text-red"
                  [title]="'Delete' | translate"
                  [popoverTitle]="'Delete' | translate"
                  [popoverMessage]="'Delete the board?' | translate"
                  (confirm)="deleteBoard(board)"
                  confirmButtonType="primary"
                  confirmText="<i class='fa fa-check' aria-hidden='true'></i> {{'Yes' | translate}}"
                  cancelButtonType="secondary"
                  cancelText="<i class='fa fa-ban' aria-hidden='true'></i> {{'No' | translate}}"
                  [appendToBody]="true"
                  [reverseButtonOrder]="true"
                  placement="top"
                  ngbTooltip="{{'Delete the board' | translate}}">
            {{'Delete' | translate}} <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="text-right mb-3 new-board-sm">
      <app-new-board #newBoardComponent (loadAllBoards)="loadAllBoards()"></app-new-board>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="cancelForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-header card-header">
      <h2 class="modal-title">{{ 'Cancel payment' | translate }}</h2>
      <button type="button" class="btn btn-default btn-sm btn-close" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="cancel-div">
                {{'Cancel payment?' | translate}}
              </label>
              <div id="cancel-div" [ngClass]="{'is-invalid' : submitted && !f.cancel.value}">
                <div class="form-check form-check-inline item">
                  <input class="form-check-input" formControlName="cancel" type="checkbox" id="cancel">
                  <label class="form-check-label text-black" for="cancel">{{'Cancel payment' | translate}} <span
                    class="required">*</span></label>
                </div>
              </div>
              <div *ngIf="submitted && !f.cancel.value" class="invalid-checkbox-feedback">
                <div>{{'Cancel checkbox is required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="feedback">
                {{'Reason for your cancellation' | translate}}
                <span class="required">*</span>
              </label>
              <textarea id="feedback" formControlName="feedback" class="form-control"
                        placeholder="{{'Enter the reason for your cancellation' | translate}}" required
                        [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }">
              </textarea>
              <div *ngIf="submitted && f.feedback.errors" class="invalid-feedback">
                <div
                  *ngIf="f.feedback.errors.required">{{'The reason for your cancellation is required' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="boardId" formControlName="boardId" class="form-control">
    </div>
    <div class="modal-footer card-footer">
      <button type="submit" class="btn btn-primary"><i class="fas fa-ban"></i> {{'Cancel payment' | translate}}</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"><i
        class="fas fa-times"></i> {{'Close' | translate}}</button>
    </div>
  </form>

</ng-template>
