.child {
  text-align: center;
  /*width: 36px;*/
  cursor: pointer;
}

.board-link {
  cursor: pointer;
}

.board-link:hover {
  text-decoration: underline;
}

.invalid-checkbox-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #ea6c56;
}

.container-div {
  position: relative;
  min-height: 130px;
}

.center-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-img {
  width: fit-content;
  width: -moz-fit-content;
}

ul {
  padding-inline-start: 20px;
}

.btn-new, .new-board-sm {
  display: none;
}

.new-board-lg {
  display: block;
}

@media only screen and (max-width: 768px) {
  .btn-new, .new-board-sm {
    display: block;
  }

  .new-board-lg {
    display: none;
  }
}
